{% extends '../../layout/view/comment.view.html' %}
{% block content %}

<!-- START navi -->
{% include '../../layout/view/head.view.html' with {clazz:'ce-navbar-green',logo:'logo_green_ts_64.png'} only %}
<!-- END   navi -->

<!-- START jumbotron -->
{%set jumbotron ={title:'Dynamic',subtitle:'Coding Era Studio 最新动态',icon:'glyphicon-globe',category:'dynamic'} %}
{% include '../../layout/view/jumbotron.view.html' with jumbotron only %}
<!-- END   jumbotron -->

<div class="ce-green-background">
    <div class="gearbox">

        <div class="gear one">
            <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>

        <div class="gear two">
            <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <div class="gear three">
            <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>



<div class="container dynamic-content">
    <div class="dynamic-line">
        <div class="row">

            <div class="col-xs-12 col-md-8">
                <div class="dynamic-card"><!-- dynamic-card -->
                    <div class="point"></div>
                    <div class="triangle-left-border"></div>
                    <div class="triangle-left"></div>
                    <div class="card-detail">
                        <div class="top">
                            <div class="avatar"><img src="/static/image/jason.jpeg" /></div>
                            <div class="name">Jason</div>
                            <div class="time">今天 13:52</div>
                        </div>
                        <div class="bottom">
                            <div class="content">
                                后台优化代码,提升系统性能
                            </div>
                        </div>
                    </div>
                </div><!-- dynamic-card -->
            </div>

            <div class="col-xs-12 col-md-8">
                <div class="dynamic-card"><!-- dynamic-card -->
                    <div class="point"></div>
                    <div class="triangle-left-border"></div>
                    <div class="triangle-left"></div>
                    <div class="card-detail">
                        <div class="top">
                            <div class="avatar"><img src="/static/image/yan.jpg" /></div>
                            <div class="name">Yan</div>
                            <div class="time">今天 13:52</div>
                        </div>
                        <div class="bottom">
                            <div class="content">
                                更新版本,添加Swig模板框架,提高代码可读性
                            </div>
                        </div>
                    </div>
                </div><!-- dynamic-card -->
            </div>

            <div class="col-xs-12 col-md-8">
               <div class="dynamic-card"><!-- dynamic-card -->
                   <div class="point"></div>
                   <div class="triangle-left-border"></div>
                   <div class="triangle-left"></div>
                   <div class="card-detail">
                       <div class="top">
                           <div class="avatar"><img src="/static/image/yan.jpg" /></div>
                           <div class="name">Coding Era</div>
                           <div class="time">今天 11:52</div>
                       </div>
                       <div class="bottom">
                           <div class="content">
                               Coding Era今天上线啦!!!
                           </div>
                       </div>
                   </div>
               </div><!-- dynamic-card -->
            </div>

            <div class="col-xs-12 col-md-8">
                <div class="point-container"><!-- dynamic-card -->
                    <div class="point"></div>
                </div><!-- dynamic-card -->
            </div>


        </div>
    </div>
</div>


<!-- START footer -->
{%set footer ={color:'green'} %}
{% include '../../layout/view/footer.view.html' with footer only %}
<!-- END   footer -->

{% endblock %}