@import "comment.env";
body{
  //background: #e6f6ff;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Microsoft Yahei","WenQuanYi Micro Hei",Arial,Verdana,sans-serif;
  font-size: 14px;
  height:100%;
}
$gear-color:#d9f0ff ;
$gear-centent-color:#e6f6ff;
@mixin ce-background($name,$backgroundColor,$gear-color:darken($backgroundColor,2.5%)){
  .ce-#{$name}-background {
    background: $backgroundColor;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    .gear-inner {
      background: $gear-color;
      .bar {
        background: $gear-color;
      }
    }
    .gear {
      &:after {
        background: $backgroundColor;
      }
    }
  }
}

//蓝色背景
@include ce-background('blue',#e6f6ff);
@include ce-background('blue2',linear-gradient(to bottom,#fff,#e6f6ff),#e6f6ff);
//绿色
@include ce-background('green',linear-gradient(to bottom,#fff,#edfff8), #e8fff6);

@include ce-background('orange',linear-gradient(to bottom,#fff,#fffae8), #fffae8);

@include ce-background('gray',#fff);


//首页巨幕
.ce-section{
  .text-detail{
    float: right;
    width:450px;
    h2 {
      font-size: 26px;
      margin: 0 0 20px -2px;
      font-weight: 300;
    }
    p{
      line-height: 2;
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: 300;
    }
  }
  .text-icon{
    font-size: 2000%;
  }
}


@mixin gear-config($size,$top,$left,$animation-name,$second){
  $gear-size:$size;
  top:$top;
  left:$left;
  height: $gear-size;
  width: $gear-size;
  &:after{
    $gear-size-after: $gear-size*.5;
    height: $gear-size-after;
    width: $gear-size-after;
    margin-left: $gear-size-after/2*-1;
    margin-top: $gear-size-after/2*-1;
  }

  .gear-inner {
    -webkit-animation: $animation-name $second infinite linear;
    -moz-animation: $animation-name $second infinite linear;
    .bar{
      $bar-width:$gear-size + $gear-size*0.2;
      $bar-height:$gear-size/4;
      height: $bar-height;
      width: $bar-width;
      margin-left: ($bar-width/2)*-1;
      margin-top: ($bar-height/2)*-1;
    }

  }
}

//齿轮位置,目前先按需配置(未找到齿轮摆放规律)
.gear{
  &.one {
    @include gear-config(500px,150px,-180px,'counter-clockwise',50s);
  }

  &.two {
    @include gear-config(500px,600px,260px,'clockwise',50s);
  }

  &.three {
    @include gear-config(500px,1050px,-180px,'counter-clockwise',50s);
  }
}




.gearbox {
  height: 100%;
  width: 100%;
  position: relative;
  border: none;
  overflow: hidden;
  z-index: -2;
  .overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    @include ce-common('border-radius',6px);
    @include ce-common('box-shadow',inset 0 0 20px black);
    @include ce-common('transition',background 0.2s);
  }
}
.gearbox.turn .overlay {
  background: transparent;
}



.gear {
  $gear-size:60px;
  position: absolute;
  @include ce-common('border-radius',100%);
  &:after {
    content: "";
    position: absolute;
    @include ce-common('border-radius',100%);

    top: 50%;
    left: 50%;

    z-index: 3;
  }
}



//下面是主页动画代码

.gear-inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: $gear-color;
  @include ce-common('border-radius',100%);
  @include ce-common('animation-iteration-count',infinite);
  .bar {
    background: $gear-color;
    position: absolute;
    left: 50%;
    top: 50%;
    @include ce-common('border-radius',2px);
    &:nth-child(2) {
      @include ce-common('transform',rotate(60deg));
    }
    &:nth-child(3) {
      @include ce-common('transform',rotate(120deg));
    }
    &:nth-child(4) {
      @include ce-common('transform',rotate(90deg));
    }
    &:nth-child(5) {
      @include ce-common('transform',rotate(30deg));
    }
    &:nth-child(6) {
      @include ce-common('transform',rotate(150deg));
    }
  }
}


@-webkit-keyframes clockwise {
  0% {
    @include ce-common('transform',rotate(0deg));
  }

  100% {
    @include ce-common('transform',rotate(360deg));
  }
}
@-moz-keyframes clockwise {
  0% {
    @include ce-common('transform',rotate(0deg));
  }

  100% {
    @include ce-common('transform',rotate(360deg));
  }
}
@-webkit-keyframes counter-clockwise {
  0% {
    @include ce-common('transform',rotate(0deg));
  }

  100% {
    @include ce-common('transform',rotate(-360deg));
  }
}
@-moz-keyframes counter-clockwise {
  0% {
    @include ce-common('transform',rotate(0deg));
  }

  100% {
    @include ce-common('transform',rotate(-360deg));
  }
}

