//高亮颜色
$ce-highlight-color:#EC4C58;
$ce-color:#2c97e8;
//设置巨幕颜色
@mixin setJumbotronColor($color,$category){
  .jumbotron-#{$category}{
    background:$color;
  }
}

@mixin cardStyle(){
  background:#fafafa;
  border:1px solid #eee;
  border-radius: 2px;
}


