//高亮颜色
$ce-highlight-color:#EC4C58;
$ce-color:#2c97e8;

$ce-color-blue:$ce-color;
$ce-color-green:#00B170;
$ce-color-orange:#F59F00;
$ce-color-gray:#555555;

//设置巨幕颜色
@mixin setJumbotronColor($backgroundColor,$category,$font-color:#555,$borderColor:none){
  .jumbotron-#{$category}{
    background:$backgroundColor;
    .jumbotron-header-title{
      color:$font-color;
    }
    .jumbotron-header-subtitle{
      color:$font-color;
    }
    @if $borderColor != 'none' {
      .jumbotron-line{
        border-top:1px solid $borderColor;
        position: absolute;
        bottom:0;
        left:0;
        height: 1px;
        width:100%;
        opacity: .1;
      }
    }

  }
}

@mixin cardStyle(){
  background:#fafafa;
  border:1px solid #eee;
  border-radius: 2px;
}


@mixin ce-common($parameter,$value){
  -webkit-box-#{$parameter}: $value;
  -moz-box-#{$parameter}: $value;
  -ms-box-#{$parameter}: $value;
  -o-box-#{$parameter}: $value;
  #{$parameter}: $value;
}