@import "comment.env";

.ce-footer{
  padding-top: 20px;
  padding-bottom: 20px;
  height:80px;
  text-align: center;
  //border-top: 1px solid #000;
  //background: #3A3F52;
  color: $ce-color;
  a{
    color: #8CC8F6;
  }
  .footer-txt{
    padding-top:10px;
    text-align: center;
    img{
      width:20px;
      height:20px;
      vertical-align: bottom;
    }
  }
  .dark-logo{
    img{
      width:64px;
      height:64px;
    }
  }
}





