@import "../../comment/scss/comment.env";

.ce-footer{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  //border-top: 1px solid #000;
  background: #2B3748;
  color: #888888;
  a{
    color: #aaa;
  }
  .footer-txt{
    padding-top:10px;
    text-align: center;
    img{
      width:20px;
      height:20px;
      vertical-align: bottom;
    }
  }
  .dark-logo{
    img{
      width:64px;
      height:64px;
    }
  }
}





