@import "../../comment/scss/comment.env";
//更改bootstrap默认样式
.navbar-brand{
  padding: 9px 15px 9px 55px;
  font-size:20px;
  display: block;
  position: relative;
  line-height: 35px;
}

//设置导航栏图片位置&大小
.navbar-brand img{
  width:32px;
  height:32px;
  position: absolute;
  top:9px;
  left: 15px;
}



@mixin gen-navi-color($color,$fontColor){
  background:$color;
  border:0;
  //导航栏文字颜色
  .navbar-brand{
    color:$fontColor;
  }

  .navbar-toggle {
    border-color: $fontColor;
  }

  //导航条文字颜色
  .navbar-nav > li > a{
    color:#fff;
  }
  //小屏幕下,展开按钮默认颜色
  .navbar-toggle .icon-bar {
    background-color: $fontColor;
  }
  //小屏幕下,展开按钮hover高亮颜色
  .navbar-toggle:hover{
    background:none;
  }

  //小屏幕下,展开按钮边框颜色
  .navbar-collapse{
    border-color: $color - 20;
  }
  $highlight-color:#0AA1E5;
  //小屏幕下,展开按钮高亮颜色
  .navbar-toggle:focus {
    background:none;
  }


  //文字hover颜色
  .navbar-nav > li > a:hover{
    color:#fff;
  }

  .navbar-nav > li > a:focus{
    color:#fff;
  }

  //brandhover颜色
  .navbar-brand:hover{
    color:#fff;
  }
}

//控制导航栏透明(黑色透明)
.ce-navbar-dark{
  @include gen-navi-color(rgba(0, 0, 0, 0.5),#fff);
}


//控制导航栏(绿色导航 关于使用)
.ce-navbar-green{
  @include gen-navi-color(#00A700,#fff);


}


//蓝色导航
.ce-navbar-blue{
  @include gen-navi-color(#36A9FF,#fff);
}

//橙色导航
.ce-navbar-orange{
  @include gen-navi-color(#FF6F32,#fff);
}

//红色导航
.ce-navbar-red{
  @include gen-navi-color(#EC4C58,#fff);
}



//巨幕
.jumbotron-header{
  height:250px;
  padding-top:80px;
  position: relative;
  overflow: hidden;
  .icon{
    position: absolute;
    color: #fff;
    right: 200px;
    bottom: -100px;
    font-size: 300px;
    line-height: 45px;
    opacity: 0.15;

  }
}

//大标题
.jumbotron-header-title{
  color:#fff;

  h1{
    font-size:400%;
  }
}
//副标题
.jumbotron-header-subtitle{
  color:#fff;
  opacity: 0.8;

}


