@import "../../core/scss/core-env.client.style";

/**
 * 	菜单样式
 */

.ce-todo {

  //标题下拉
  .task-dropdown {
    .panel {

      position: absolute;
      z-index:999;

      .panel-body {
        padding: 0;

        textarea{
          overflow: hidden;
          word-wrap: break-word;
          resize: none;
        }

        .preview{
          width: 0;
          height: 0;

          img{
            max-width: 50%;
          }
        }
        .active{
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 999;
          background-color: white;
          overflow: auto;
        }

      }

      .panel-footer {
        position: absolute;
        width: 100%;
        padding: 5px;
        border: 1px solid #ddd;
        a {
          padding: 0 5px;
          &:focus {
            background-color: transparent;
          }
          &:hover {
            background-color: transparent;
          }
        }
      }

    }
  }

  //任务列表
  $ce-group-head-font-size:$ce-font-size + 2;
  $ce-group-item-font-size:$ce-font-size - 2;

  .list-group-item {
    &:hover {
      color: #555;
      background-color: #f5f5f5;
    }
    //标题
    .task-title {
      height: 30px;
      overflow: hidden;
      word-wrap: break-word;
      resize: none;
      border: none;
      box-shadow: none;
      background: none;
      font-size: $ce-group-head-font-size;
      &:focus {
        background-color: white;
      }
      &:hover {
        background-color: white;
      }
    }

    .list-group-item-text{
      a{
        margin-right: 15px;
        color: #a94442;
        font-size: $ce-group-item-font-size;
      }
      .badge{
        color: white;
      }
    }
  }

  //完成
  .task-done textarea {
    text-decoration: line-through;
  }

  .img-circle{
    width: 40px;
    height: 40px;
  }

  //人员
  .member-detail{
    a{
      min-width: 160px;
    }
    img{
      width: 32px;
      height: 32px;
    }
  }

  .popover-content{
    padding: 0;
  }

}
