<div ng-controller="trainingCtrl as demo" class="ce-training">

    <!--指引完成提示-->
    <uib-alert type="success" close="demo.closeAlert()" ng-if='demo.isDone'>
        <strong>All trainning setps done!</strong>
    </uib-alert>

    <div class="row">
        <div class="col-md-12 text-center">

            <div class="blog">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only">Blog :</label>
                        <div class="input-group">
                            <input id="blogControl" type="text" class="form-control" />
                        </div>
                    </div>
                    <button id="submitBlog" class="btn btn-primary" ng-click="">Public blog</button>
                </form>
            </div>

            <button id="startAgain" style="margin-top: 100px;" class="btn btn-primary start-again" ng-click="demo.trainning()">
                You can start trainning again
            </button>

        </div>
    </div>

    <!--模态化 模板-->
    <script type="text/ng-template" id="modal-backdrop.html">
        <div class="modal-backdrop fade in {{backdropClass}}" ng-style="{'z-index': zIndex || 1040}"></div>
    </script>

    <!--指引 模板-->
    <script type="text/ng-template" id="trainning-step.html">
        <div class="trainning-step">
            <div style="display:block; z-index:1080;left:-1000px;top:-1000px;" ng-style="positionStyle" class="step-panel {{currentTrainning.placement}} fade popover in {{currentTrainning.stepClass}}" ng-show="!isProgressing">
                <div class="arrow"></div>
                <div class="popover-inner">
                    <h3 class="popover-title" ng-if='currentTrainning.title'>{{currentTrainning.title}}</h3>
                    <div class="popover-content">
                    </div>
                </div>
            </div>
            <ui-backdrop backdrop-class="currentTrainning.backdropClass" ng-if="currentTrainning.backdrop !== false"></ui-backdrop>
        </div>
    </script>

    <!--指引内容 模板-->
    <script type="text/ng-template" id="trainning-content.html">
        <div class="step-content">
            <div>{{ stepPanel.texts[stepPanel.currentStep - 1]}}</div>
            <div class="next-step">
                <ul class="step-progressing">
                    <li data-ng-repeat="item in stepPanel.trainnings.length | range"
                        data-ng-class="{active: stepPanel.currentStep == item}">
                    </li>
                </ul>
                <button type="button" class="btn btn-link btn-next pull-right" ng-click="stepPanel.trainningInstance.nextStep({$event:$event, step:step});">Next</button>
            </div>
        </div>
    </script>

    <!--最后一步指引(完成)内容 模板-->
    <script type="text/ng-template" id="trainning-content-done.html">
        <div class="step-content">
            <div>
                {{ stepPanel.texts[stepPanel.currentStep - 1]}}
            </div>
            <div class="next-step">
                <ul class="step-progressing">
                    <li data-ng-repeat="item in stepPanel.trainnings.length | range"
                        data-ng-class="{active: stepPanel.currentStep == item}">
                    </li>
                </ul>
                <button type="button" class="btn btn-link  pull-right" ng-click="nextStep({$event:$event, step:step});">Got it</button>
            </div>
        </div>
    </script>
</div>