{% extends '../../layout/view/comment.view.html' %}
{% block content %}

<!-- START navi -->
{% include '../../layout/view/head.view.html' with {clazz:'ce-navbar-red'} only %}
<!-- END   navi -->

<div class="case-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="case-header-title">
                    <h1>项目展示</h1>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="case-header-subtitle">
                    我们开发过项目,经验
                </div>
            </div>
        </div>
    </div><!-- container -->
    <div class="icon">
        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>

    </div>
</div><!-- case-header -->

<div class="container case-content">
    <div class="row">
        <div class="col-xs-12 col-md-8">
                <div class="case-card"> <!-- case-card -->
                    <div class="case-padding">
                        <div class="top">
                            <div class="title"><h2>IU互联网酒店-微信公众号</h2></div>
                            <div class="subtitle">微信,java,jms</div>
                        </div>
                        <div class="content">
                            <div class="pic"><img src="/static/image/pic.jpg"></div>
                            <div class="summary">IU酒店是铂涛集团推出的互联网概念酒店。酒店内的住宿体验有微信互动系统，手机、平板、电视多屏互动系统，个性定制服务。植入消费者有需求的互联网基因，打造符合现代年轻人需求的消费者定制互联网酒店。IU酒店是铂涛集团旗下酒店品牌之一...</div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="bottom-card"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 340 </div>
                        <div class="bottom-card"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 52 </div>
                        <div class="bottom-card"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 255 </div>
                    </div>
                </div><!-- case-card -->

            <div class="case-card"> <!-- case-card -->
                <div class="case-padding">
                    <div class="top">
                        <div class="title"><h2>IU互联网酒店-微信公众号</h2></div>
                        <div class="subtitle">微信,java,jms</div>
                    </div>
                    <div class="content">
                        <div class="pic"><img src="/static/image/pic.jpg"></div>
                        <div class="summary">IU酒店是铂涛集团推出的互联网概念酒店。酒店内的住宿体验有微信互动系统，手机、平板、电视多屏互动系统，个性定制服务。植入消费者有需求的互联网基因，打造符合现代年轻人需求的消费者定制互联网酒店。IU酒店是铂涛集团旗下酒店品牌之一...</div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="bottom-card"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 340 </div>
                    <div class="bottom-card"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 52 </div>
                    <div class="bottom-card"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 255 </div>
                </div>
            </div><!-- case-card -->

            <div class="case-card"> <!-- case-card -->
                <div class="case-padding">
                    <div class="top">
                        <div class="title"><h2>IU互联网酒店-微信公众号</h2></div>
                        <div class="subtitle">微信,java,jms</div>
                    </div>
                    <div class="content">
                        <div class="pic"><img src="/static/image/pic.jpg"></div>
                        <div class="summary">IU酒店是铂涛集团推出的互联网概念酒店。酒店内的住宿体验有微信互动系统，手机、平板、电视多屏互动系统，个性定制服务。植入消费者有需求的互联网基因，打造符合现代年轻人需求的消费者定制互联网酒店。IU酒店是铂涛集团旗下酒店品牌之一...</div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="bottom-card"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 340 </div>
                    <div class="bottom-card"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 52 </div>
                    <div class="bottom-card"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 255 </div>
                </div>
            </div><!-- case-card -->

            <div class="case-card"> <!-- case-card -->
                <div class="case-padding">
                    <div class="top">
                        <div class="title"><h2>IU互联网酒店-微信公众号</h2></div>
                        <div class="subtitle">微信,java,jms</div>
                    </div>
                    <div class="content">
                        <div class="pic"><img src="/static/image/pic.jpg"></div>
                        <div class="summary">IU酒店是铂涛集团推出的互联网概念酒店。酒店内的住宿体验有微信互动系统，手机、平板、电视多屏互动系统，个性定制服务。植入消费者有需求的互联网基因，打造符合现代年轻人需求的消费者定制互联网酒店。IU酒店是铂涛集团旗下酒店品牌之一...</div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="bottom-card"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 340 </div>
                    <div class="bottom-card"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 52 </div>
                    <div class="bottom-card"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 255 </div>
                </div>
            </div><!-- case-card -->


            <div class="case-page">
                <nav>
                    <ul class="pagination pagination-lg">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="col-md-4 hidden-xs" >
            <div class="case-tags">
                <h4>标签</h4>
                <div class="tags">
                    <ul>
                        <li>Java</li>
                        <li>Jquery</li>
                        <li>Nodejs</li>
                        <li>object-c</li>
                        <li>web</li>
                        <li>ios</li>
                    </ul>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>



    </div>
</div>
{% endblock %}