
<ce-page-manager>
    <ce-page-menu>
        <ce-page-btn ce-style="menu" ui-sref="commentManage.list({'status':'WAITING'})" ce-icon="glyphicon-th-list" ce-title="待审核"></ce-page-btn>
        <ce-page-btn ce-style="menu" ui-sref="commentManage.list({'status':'PASSED'})" ce-icon="glyphicon-th-list" ce-title="已审核"></ce-page-btn>
        <ce-page-btn ce-style="menu" ui-sref="commentManage.list({'status':'DELETED'})" ce-icon="glyphicon-trash" ce-title="回收站"></ce-page-btn>
    </ce-page-menu>
</ce-page-manager>


