<div class="row" >

    <div class="col-sm-3">
        <div class="user-avatar-container">
            <img ng-if="user.avatar !== null" ng-src="{{user.avatar}}" />
            <img ng-if="user.avatar === null" src="/modules/core/img/avatar.png" />
        </div>
    </div>
    <div class="col-sm-9">
        <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)"   dautocomplete="off">
                    <div class="form-group">
                        <label for="displayName">昵称</label>
                        <input type="text" id="displayName" name="displayName" class="form-control "
                               data-ng-model="user.displayName" placeholder="Display Name">
                        <span  class="help-block">此「 昵称 」将会使用在文章,作品等地方展示</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">性别</label>
                        <div>
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="1" ng-model="user.sex" > 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="0" ng-model="user.sex"> 女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control " data-ng-model="user.email"
                               placeholder="Email">
                        <span  class="help-block">填写「 Email 」方便管理员内部联系</span>
                    </div>
                    <div class="form-group">
                        <label for="phone">联系电话</label>
                        <input type="emaphoneil" id="phone" name="phone" class="form-control " data-ng-model="user.phone"
                               placeholder="联系电话">
                        <span  class="help-block">填写「 联系电话 」方便管理员内部联系</span>
                    </div>
                <div class="form-group text-center visible-xs" >
                    <button type="submit" class="btn btn-large btn-info">保存信息</button>
                </div>
                <div class="form-group hidden-xs">
                    <button type="submit" class="btn btn-large btn-info">保存信息</button>
                </div>
        </form>
    </div>
</div>