<div ng-controller="directiveKingCtrl" id="directiveKing">

    <div class="panel panel-default">
        <div class="panel-heading">
            输入框指令
        </div>
        <div class="panel-body">
            <input type="text" class="form-control" aria-label="..." ce-select-on-click value="点击选中文本">
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            测试指令
        </div>
        <div class="panel-body">
            <div ce-test="testa" type="testb" data-type2="testc"></div>
        </div>
    </div>

</div>

