
<ce-page-manager>
    <ce-page-menu>
        <ce-group-name title="JASON">
            <!--<ce-page-btn ce-style="bar" ui-sref="usersManage.edit({'username':'create'})" ce-icon="glyphicon-plus" ce-title="新增"></ce-page-btn>-->
            <ce-page-btn ce-style="menu" ui-sref="jason.todo" ce-icon="glyphicon-tasks" ce-title="TODO"></ce-page-btn>
            <ce-page-btn ce-style="menu" ui-sref="jason.search" ce-icon="glyphicon-search" ce-title="GitHub Search"></ce-page-btn>
            <ce-page-btn ce-style="menu" ui-sref="jason.timer" ce-icon="glyphicon-time" ce-title="计时器"></ce-page-btn>
            <ce-page-btn ce-style="menu" ui-sref="jason.directiveKing" ce-icon="glyphicon-king" ce-title="精要指令"></ce-page-btn>
            <ce-page-btn ce-style="menu" ui-sref="jason.fileUpload" ce-icon="glyphicon-file" ce-title="文件上传"></ce-page-btn>
            <ce-page-btn ce-style="menu" ui-sref="jason.training" ce-icon="glyphicon-user" ce-title="用户指引"></ce-page-btn>
        </ce-group-name>
    </ce-page-menu>
</ce-page-manager>


