<div class="list-group">
    <a href="#" class="list-group-item" ng-repeat="task in tasks">
        <div class="" style="float: right;">
                        <span class="thumbnail">
                            <img src="../img/mini-logo.png"/>
                        </span>
        </div>
        <h4 class="list-group-item-heading">
            <div class="form-inline">
                <div class="checkbox">
                    <input type="checkbox">
                </div>
                <textarea class="form-control task-title" ng-bind="task.title"></textarea>
            </div>
        </h4>
        <p class="btn-group-sm list-group-item-text text-danger">
            <span class="badge">{{ task.date | date:'yyyy-MM-dd' }}</span>
            <span class="btn"><span class="glyphicon glyphicon-eye-open"></span><span>详情</span></span>
            <span class="btn"><span class="glyphicon glyphicon-leaf"></span><span>good</span></span>
            <span class="btn"><span class="glyphicon glyphicon-picture">go</span></span>
            <span class="btn">人员:{{task.members}}</span>
            <span class="btn">其他:{{task.content}}</span>
        </p>
    </a>
</div>