@import "../../core/scss/core.env";


//头像
.user-avatar-container{
  $avatar-size:150px;
  width: $avatar-size;
  height: $avatar-size;
  margin: 15px auto auto auto;
  position: relative;
  img{
    width:$avatar-size;
    height:$avatar-size;
    border-radius: 50%;
  }
  &:hover{
    .edit-mask{
      opacity: 1;

    }
  }
  .edit-mask{
    opacity: 0;
    background-color: rgba(0,0,0,.5);
    width:$avatar-size;
    height:$avatar-size;
    position: absolute;
    top:0;
    left:0;
    color:#fff;
    font-size: 180%;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    line-height: $avatar-size;
    @include ce-transition(all 0.5s ease-out);

  }
}

.user-list-card{
  .top{
    position: relative;
    $avatar-size:50px;
    .avatar{
      width:$avatar-size;
      height:$avatar-size;
      img{
        width:$avatar-size;
        height:$avatar-size;
      }
    }
    .name{
      position: absolute;
      top:0;
      left:60px;
      height:$avatar-size;
      line-height: $avatar-size;
      font-size:120%;
    }
  }
  .detail{
    margin-top:15px;
    border-top:1px solid #EAEFF0;
    padding-top:15px;
    ul{
      li{
        color:#777;
        font-weight: normal;
        label{
          font-weight: 700;
          min-width:30px;
          text-align: left;
          color:#666;
          padding-left:5px;
          margin-right:20px;
        }
      }
    }
  }

}