
<div class="row">
    <div class="ce-content-head "  >
        <span class="ce-content-title" ng-repeat="item in title"  >
            <h1 ng-bind="item"></h1>
        </span>
        <span class="ce-content-subtitle" ng-repeat="item in subTitle" ng-bind="item" ng-if="subTitle.length > 0"></span>

        <div class="ce-userInfo">
            <div class="userInfo-container">
                <div class="userInfo-name">
                    你好,{{authentication.user.username}}!
                </div>
                <div class="userInfo-avatar">
                    <img src="/modules/core/img/logo_128X128.png">
                </div>
            </div>

        </div>
    </div>
</div>
