<!-- 分页工具 -->
<div class="ce-grid-pagination" ce-grid-pager ng-show="grid.options.enablePaginationControls"><!-- START ce-grid-pagination -->
    <div class="pager-left col-md-6"> <!-- START pager-left -->
        <span class="pager-info" translate="SYSTEM.GRID.PAGER.INFO" translate-values="{showingLow:showingLow,showingHigh:showingHigh,totalItems:paginationApi.getTotalPages()}"></span>
        <div class="ui-grid-pager-row-count-picker" ng-if="grid.options.paginationPageSizes.length > 1">
            <select ui-grid-one-bind-aria-labelledby-grid="'items-per-page-label'" ng-model="grid.options.paginationPageSize" ng-options="o as o for o in grid.options.paginationPageSizes"></select>
            {{'SYSTEM.GRID.PAGER.INFO.TAIL' | translate}}
        </div>
    </div><!-- END   pager-left -->
    <div class="pager-right col-md-6"> <!-- START pager-right -->
        <ul class="pagination" >
            <!-- START 回到首页 -->
            <li ng-class="{disabled:cantPageBackward()}">
                <a ng-disabled="cantPageBackward()" ng-disabled="cantPageBackward()" ng-click="pageFirstPageClick()" aria-label="{{'SYSTEM.GRID.PAGER.HOME' | translate}}" title="{{'SYSTEM.GRID.PAGER.HOME' | translate}}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!-- END  回到首页 -->
            <!-- START 上一页 -->
            <li ng-class="{disabled:cantPageBackward()}">
                <a ng-disabled="cantPageBackward()" aria-label="{{'SYSTEM.GRID.PAGER.FORWARD' | translate}}" title="{{'SYSTEM.GRID.PAGER.FORWARD' | translate}}" ng-click="pagePreviousPageClick()">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>
            <!-- END  上一页 -->

            <!-- START 分页 -->
            <li ng-init="index = $index + 1;"
                ng-show="index >= getMinPage() && index <= getMaxPage()"
                ng-class="{disabled:(paginationApi.getPage() == ($index + 1)) }"
                ng-repeat="item in (paginationApi.getTotalPages() | numberToArray) track by $index"
                data-index="{{$index}}"
                data-page-num="{{pageNum}}"
                data-page-count="{{(((paginationApi.getPage() +2)>paginationApi.getTotalPages())?paginationApi.getTotalPages():paginationApi.getPage() +2)}}"
            >
                <a ng-click="paginationApi.seek($index + 1)">{{index}}</a>
            </li>
            <!-- END   分页 -->


            <!-- START 下一页 -->
            <li ng-class="{disabled:cantPageForward()}">
                <a ng-disabled="cantPageForward()" aria-label="{{'SYSTEM.GRID.PAGER.NEXT' | translate}}" title="{{'SYSTEM.GRID.PAGER.NEXT' | translate}}" ng-click="pageNextPageClick()">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
            <!-- END  下一页 -->
            <!-- START 最后一页 -->
            <li ng-class="{disabled:cantPageToLast()}">
                <a ng-click="pageLastPageClick()" ng-disabled="cantPageToLast()" aria-label="{{'SYSTEM.GRID.PAGER.LAST' | translate}}" title="{{'SYSTEM.GRID.PAGER.LAST' | translate}}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <!-- END   最后一页 -->
        </ul>
    </div><!-- END   pager-right -->
</div><!-- END   ce-grid-pagination -->