<div class="panel panel-default" style="width:100%;position: absolute;z-index: 999;margin-top: 34px;">
    <div class="panel-body" style="padding: 0;">
        <textarea class="form-control" rows="3" data-ng-model="task.content" placeholder="很多描述..."></textarea>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-lg-6">
                <a href="#" popover-placement="bottom" uib-popover="这都不懂?!">
                    <span class="glyphicon glyphicon-question-sign"></span></a>
            </div>
            <div class="col-lg-6 text-right">
                <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
                <a href="#"><span class="glyphicon glyphicon-leaf"></span></a>
                <a href="#"><span class="glyphicon glyphicon-picture"></span></a>
            </div>
        </div>
    </div>
</div><!--/panel div-->