{% extends '../../layout/view/comment.view.html' %}
{% block content %}

<!-- START navi -->
{% include '../../layout/view/head.view.html' with {clazz:'ce-navbar-orange',logo:'logo_org_ts_64.png'} only %}
<!-- END   navi -->

<!-- START jumbotron -->
{%set jumbotron = {title:'Contact',subtitle:'联系我们',category:'contact'} %}
{% include '../../layout/view/jumbotron.view.html' with jumbotron only %}
<!-- END   jumbotron -->


<div class="ce-orange-background">
    <div class="gearbox">

        <div class="gear one">
            <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>

        <div class="gear two">
            <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <div class="gear three">
            <div class="gear-inner">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>

<div class="container contact-content">
    <div class="row">


        <div class="col-xs-12 col-md-8">
            <div class="contact-card"><!-- contact-card -->
                <div class="contact-padding">
                    <div class="top">
                        <div class="avatar"><img src="/static/image/yan.jpg" /></div>
                        <div class="name">Yan</div>
                        <div class="stateMessage">爱coding,爱健身,爱追求,never say never!</div>
                    </div>
                    <div class="center">
                        <h6>简介:</h6>
                        <div class="detail">
                            <p>爱coding,爱健身,爱追求,never say never!</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="tag">
                            <h6>Tag:</h6>
                            <div class="tags">
                                <ul>
                                    <li>Java</li>
                                    <li>Jquery</li>
                                    <li>Nodejs</li>
                                    <li>object-c</li>
                                    <li>web</li>
                                    <li>ios</li>
                                </ul>
                                <div style="clear: both"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="contact">
                   <div class="contacts"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 178312136@qq.com </div>
                   <div class="contacts"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 13760772803 </div>
                </div>

            </div><!-- contact-card -->
        </div>


        <div class="col-xs-12 col-md-8">
            <div class="contact-card"><!-- contact-card -->
                <div class="contact-padding">
                    <div class="top">
                        <div class="avatar"><img src="/static/image/jason.jpeg" /></div>
                        <div class="name">Jason</div>
                        <div class="stateMessage">爱coding,爱健身,爱追求,never say never!</div>
                    </div>
                    <div class="center">
                        <h6>简介:</h6>
                        <div class="detail">
                            <p>爱coding,爱健身,爱追求,never say never!</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="tag">
                            <h6>Tag:</h6>
                            <div class="tags">
                                <ul>
                                    <li>Java</li>
                                    <li>Jquery</li>
                                    <li>Nodejs</li>
                                    <li>object-c</li>
                                    <li>web</li>
                                    <li>ios</li>
                                </ul>
                                <div style="clear: both"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="contact">
                    <div class="contacts"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 178312136@qq.com </div>
                    <div class="contacts"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 13760772803 </div>
                </div>

            </div><!-- contact-card -->
        </div>

    </div>
</div>


<!-- START footer -->
{%set footer ={color:'orange'} %}
{% include '../../layout/view/footer.view.html' with footer only %}
<!-- END   footer -->
{% endblock %}