{% extends '../../layout/view/comment.view.html' %}
{% block content %}

<!-- START navi -->
{% include '../../layout/view/head.view.html' with {clazz:'ce-navbar-orange'} only %}
<!-- END   navi -->

<div class="contact-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="contact-header-title">
                    <h1>联系我们</h1>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="contact-header-subtitle">
                    定制项目,交流,都可以找我们
                </div>
            </div>
        </div>
    </div><!-- container -->
    <div class="icon">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>

    </div>
</div><!-- about-header -->

<div class="container contact-content">
    <div class="row">


        <div class="col-xs-12 col-md-8">
            <div class="contact-card"><!-- contact-card -->
                <div class="contact-padding">
                    <div class="top">
                        <div class="avatar"><img src="/static/image/yan.jpg" /></div>
                        <div class="name">Yan</div>
                        <div class="stateMessage">爱coding,爱健身,爱追求,never say never!</div>
                    </div>
                    <div class="center">
                        <h6>简介:</h6>
                        <div class="detail">
                            <p>爱coding,爱健身,爱追求,never say never!</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="tag">
                            <h6>Tag:</h6>
                            <div class="tags">
                                <ul>
                                    <li>Java</li>
                                    <li>Jquery</li>
                                    <li>Nodejs</li>
                                    <li>object-c</li>
                                    <li>web</li>
                                    <li>ios</li>
                                </ul>
                                <div style="clear: both"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="contact">
                   <div class="contacts"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 178312136@qq.com </div>
                   <div class="contacts"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 13760772803 </div>
                </div>

            </div><!-- contact-card -->
        </div>


        <div class="col-xs-12 col-md-8">
            <div class="contact-card"><!-- contact-card -->
                <div class="contact-padding">
                    <div class="top">
                        <div class="avatar"><img src="/static/image/jason.jpeg" /></div>
                        <div class="name">Jason</div>
                        <div class="stateMessage">爱coding,爱健身,爱追求,never say never!</div>
                    </div>
                    <div class="center">
                        <h6>简介:</h6>
                        <div class="detail">
                            <p>爱coding,爱健身,爱追求,never say never!</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="tag">
                            <h6>Tag:</h6>
                            <div class="tags">
                                <ul>
                                    <li>Java</li>
                                    <li>Jquery</li>
                                    <li>Nodejs</li>
                                    <li>object-c</li>
                                    <li>web</li>
                                    <li>ios</li>
                                </ul>
                                <div style="clear: both"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="contact">
                    <div class="contacts"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 178312136@qq.com </div>
                    <div class="contacts"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 13760772803 </div>
                </div>

            </div><!-- contact-card -->
        </div>

    </div>
</div>
{% endblock %}