@import "../../core/scss/core.env";

/**
 * 	菜单样式
 */

.ce-todo {
  .task-dropdown {
    .panel {
      .panel-body {
        padding: 0;
      }

      .panel-footer {
        padding: 5px;
        a {
          padding: 0 5px;
          &:focus {
            background-color: transparent;
          }
          &:hover {
            background-color: transparent;
          }
        }
      }

    }
  }

  .task-title {
    height: 30px;
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
    border: none;
    box-shadow: none;
    background: none;
    &:focus {
      background-color: white;
    }
    &:hover {
      background-color: white;
    }
  }

  .task-done textarea {
    text-decoration: line-through;
  }

  .list-group-item {
    &:hover {
      color: #555;
      background-color: #f5f5f5;
    }

  }
}
