<div ng-controller="usersListCtrl">

    <ce-page-header>
        <ce-search-bar ce-placeholder="搜索..."  ce-click="onSearchClick(keyWord)"></ce-search-bar>
    </ce-page-header>

    <!-- 传入 CoadingEraService 返回的 Json (Spring -> ActionResult For Page<Model>) -->
    <ce-data-list ce-data="jsonData" page-previous-click="previousPage()" page-next-click="nextPage()" >
        <ce-data title="username"></ce-data>
        <ce-data subtitle="createTime"></ce-data>
        <ce-data-toolbar status-key="status" >
            <ce-data-toolbar-btn icon="glyphicon-user" title="角色" ng-click="onEditClick( obj );" status-equals="'WAITING','PASSED','SKETCH'"></ce-data-toolbar-btn>
            <ce-data-toolbar-btn icon="glyphicon-edit" title="编辑" ng-click="onEditClick( obj );" status-equals="'WAITING','PASSED','SKETCH'"></ce-data-toolbar-btn>
            <ce-data-toolbar-btn icon="glyphicon-ok" title="通过" ng-click="onEditClick( obj );" status-equals="'WAITING','PASSED','SKETCH'"></ce-data-toolbar-btn>
            <ce-data-toolbar-btn icon="glyphicon-trash" title="禁用" ng-click="onDeleteClick( obj );" status-equals="'WAITING,PASSED,SKETCH'"></ce-data-toolbar-btn>
        </ce-data-toolbar>
    </ce-data-list>

</div>