<form>
    <div class="form-group">
        <label >作品名称</label>
        <input type="text" class="form-control"  placeholder="作品名称" ng-model="case.title">
    </div>
    <div class="form-group">
        <label >标签</label>
        <input type="text"  class="form-control" placeholder="请选择标签">
    </div>
    <div class="form-group">
        <label >作品详情</label>


        <ce-markdown ng-model="case.content"></ce-markdown>


    </div>

    <button type="submit" class="btn btn-default" ng-click="onPublishClick()">发布</button>
</form>