<form>
    <div class="form-group">
        <label >作品名称</label>
        <input type="text" class="form-control"  placeholder="作品名称" ng-model="case.title">
    </div>
    <div class="form-group">
        <label >标签</label>
        <input type="text"  class="form-control" placeholder="请选择标签">
    </div>
    <div class="form-group">
        <label >展示图片</label>
       <ce-h5-upload  ng-model="case.bannerUrl">
           <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span>
           点击或将文件拖拽至此上传
           <br>建议使用700*200比例的图片大小
       </ce-h5-upload>
    </div>
    <div class="form-group">
        <label >作品详情</label>


        <ce-markdown ng-model="case.content"></ce-markdown>


    </div>

    <button type="submit" class="btn btn-info" ng-click="onPublishClick('PUBLISHED')">发布</button>
    <button type="submit" class="btn btn-default" ng-click="onPublishClick('SKETCH')">保存为草稿</button>
</form>