
<ce-page-header>
    <ce-search-bar ce-placeholder="搜索..."  ce-click="onSearchClick(keyWord)"></ce-search-bar>
</ce-page-header>

<ce-data-list ce-data="jsonData" page-previous-click="previousPage()" page-next-click="nextPage()" >
    <ce-data title="name"></ce-data>
    <!--<ce-data subtitle="type"></ce-data>-->
    <ce-data-toolbar status-key="status" >
        <ce-data-toolbar-btn icon="glyphicon-edit" title="编辑" ng-click="onEditClick( obj );" status-equals="'INIT','SKETCH'"></ce-data-toolbar-btn>
        <ce-data-toolbar-btn icon="glyphicon-trash" title="删除" ng-click="onDeleteClick( obj );" status-equals="'INIT,SKETCH'"></ce-data-toolbar-btn>
    </ce-data-toolbar>
</ce-data-list>