
<ce-page-header>
    <ce-search-bar ce-placeholder="搜索..."  ce-click="onSearchClick(keyWord)"></ce-search-bar>
</ce-page-header>

<div class="ce-tag-list">
    <div class="tag-data-empty" ng-if="jsonData.totalElements == 0">目前没有数据 >_< </div>
    <div class="tags" ng-repeat="tag in jsonData.content" ng-click="onEditClick(tag,$event)">
        <div class="name" ng-bind="tag.name"></div>
        <div class="del" ng-click="onDeleteClick(tag,$event)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
    </div>
    <div class="ce-clear-float"></div>
    <div class="tag-load-more" ng-click="nextPage()" ng-if="!jsonData.last">
        点击加载更多
    </div>
</div>