
<ce-page-header>
    <ce-search-bar ce-placeholder="搜索作品..."  ce-click="onSearchClick(keyWord)"></ce-search-bar>
</ce-page-header>

<!-- 传入 CoadingEraService 返回的 Json (Spring -> ActionResult For Page<Model>) -->
<ce-data-list ce-data="caseData" small-size="true" page-previous-click="previousPage()" page-next-click="nextPage()" >
    <ce-data-custom>
        <!-- 这里面怎么玩都可以,但都必须使用「 item 」来获取值 -->
        <h4 >
            <span ng-bind="item.title"></span>
        </h4>
        <h5>
            <small>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                <span ce-friendly-time="item.createdTime"></span>
            </small>
        </h5>
        <img ng-src="{{item.bannerUrl}}" class="img-responsive img-thumbnail case-list-img" alt="Responsive image">
    </ce-data-custom>
    <!-- 1. 工具条根据什么状态显示,status-key 是可配字段 -->
    <!-- 2. status-key in ( status-equals ) 工具条上的按钮将会显示「 此参数可选 」 -->
    <ce-data-toolbar status-key="status" >
        <!-- ngClick ( onEditClick 是你 controller 中的方法名)参数 obj 必须这样写,指令会把正行对象传回去 -->
        <ce-data-toolbar-btn icon="glyphicon-edit" title="编辑" ce-click="onEditClick( obj );" status-equals="'PUBLISHED','SKETCH'"></ce-data-toolbar-btn>
        <ce-data-toolbar-btn icon="glyphicon-trash" title="删除" ce-click="onDeleteClick( obj );" status-equals="'PUBLISHED','SKETCH'"></ce-data-toolbar-btn>
    </ce-data-toolbar>
</ce-data-list>


