
<div class="ce-tool-bar row">
    <div class="col-sm-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="{{'SYSTEM.APP.QUERY.TEXT' | translate }}" ng-model="searchOptions.keyWord" />
            <div class="input-group-btn" uib-dropdown>
                <button type="button" class="btn btn-info" ng-click="onSearch()"  >
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-info" uib-dropdown-toggle aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">{{'SYSTEM.APP.BTN.QUERY.MORE'| translate }}</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="addDemo()">{{'SYSTEM.APP.BTN.QUERY.ADVANCED' | translate }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-8 text-right">
        <button type="button" class="btn btn-info" ng-click="onCreateClick()">新增</button>
        <button type="button" class="btn btn-info" ng-click="onEditClick()">详情</button>
        <button type="button" class="btn btn-info" ng-click="onEditClick()">置顶</button>
        <button type="button" class="btn btn-info" ng-click="onEditClick()">通过</button>
        <button type="button" class="btn btn-danger" ng-click="onDeletedClick()">屏蔽</button>
    </div>
</div>

<h3>下拉模板</h3>
<div  ui-grid="gridOptions2" ui-grid-pagination ui-grid-selection ui-grid-expandable ui-grid-auto-resize ng-style="getTableStyle()"></div>
<!--
<h3>tree</h3>
<div  ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-tree-view ui-grid-auto-resize ng-style="getTableStyle()"></div>
-->
