<div class="row ce-panel">
    <div class="col-sm-3 " >
        <div class="ce-panel-left">
            <button class="btn btn-default ce-panel-left-btn"  ui-sref="caseManage.publish({caseId:null})" >发布作品</button>

            <div class="line"></div>

            <a class="ce-panel-left-menu" ui-sref-active="active" ui-sref="caseManage.list({status:'PUBLISHED'})" ui-sref-opts="{reload:true}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>已发布</a>
            <a class="ce-panel-left-menu" ui-sref-active="active" ui-sref="caseManage.list({status:'SKETCH'})" ui-sref-opts="{reload:true}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>草稿</a>
            <a class="ce-panel-left-menu" ui-sref-active="active" ui-sref="caseManage.list({status:'DELETED'})" ui-sref-opts="{reload:true}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>回收站</a>

        </div>

    </div>
    <div class="ce-panel-line col-sm-3 hidden-xs"></div>
    <div class="col-sm-9">
        <!-- ce-rightContent必须和ce-leftbar配套使用 -->

        <div class="ce-panel-right" ui-view=""></div>
    </div>
</div>


