
<div class="case-list">

    <div class="case-data-empty" ng-if="caseData.totalElements == 0">目前没有数据 >_< </div>

    <div class="case-preview" ng-repeat="item in caseData.content">
        <div class="title" ng-bind="item.title"></div>
        <div class="subtitle">发表于 {{item.createTime  | date:'yyyy-MM-dd'}}</div>
        <div class="case-toolbar">
            <a class="toolbar-btn" ng-click="onEditClick(item.id)" >
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
            <a class="toolbar-btn del" ng-click="onDeleteClick(item.id)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
        </div>
    </div>

    <nav>
        <ul class="pager" ng-if="!caseData.first||!caseData.last">
            <li class="previous" ng-if="!caseData.first"><a ng-click="previousPage()"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 上一页</a></li>
            <li class="next" ng-if="!caseData.last" ><a ng-click="nextPage()">下一页 <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
    </nav>

</div>