

<ce-page-header>
    <ce-search-bar ce-placeholder="搜索文章..."  ce-click="onSearchClick(keyWord)"></ce-search-bar>
</ce-page-header>

<ce-data-list ce-data="articleData" page-previous-click="previousPage()" page-next-click="nextPage()" >
    <ce-data-custom>

        <h2 >
            <span ng-bind="item.title"></span>
        </h2>
        <small>发表于<span ce-friendly-time="item.createdTime"></span></small>
        <div class="article-list-content">
            <p ng-bind-html="item.content | markdown"></p></td></tr>
        </div>
    </ce-data-custom>
    <ce-data-toolbar status-key="status" >
        <ce-data-toolbar-btn icon="glyphicon-edit" title="编辑" ce-click="onEditClick( obj );" status-equals="'PUBLISHED','SKETCH'"></ce-data-toolbar-btn>
        <ce-data-toolbar-btn icon="glyphicon-trash" title="删除" ce-click="onDeleteClick( obj );" status-equals="'PUBLISHED,SKETCH'"></ce-data-toolbar-btn>
    </ce-data-toolbar>
</ce-data-list>


