<form>
    <div class="form-group">
        <label >名称</label>
        <input type="text" class="form-control"  placeholder="作品名称" ng-model="article.title">
    </div>
    <div class="form-group">
        <label >文章详情</label>


        <ce-markdown ng-model="article.content"></ce-markdown>


    </div>

    <button type="submit" class="btn btn-info" ng-click="onPublishClick('PUBLISHED')">发布</button>
    <button type="submit" class="btn btn-default" ng-click="onPublishClick('SKETCH')">保存为草稿</button>
</form>