
<ce-page-manager>
    <ce-page-menu>
        <ce-page-btn ce-style="btn" ui-sref="articleManage.publish({'articleId':null})" ce-title="发布文章" ></ce-page-btn>
        <!--
        <ce-page-btn ce-style="search" placeholder="搜索文章..."  ce-click="onSearchClick(keyWord)"></ce-page-btn>
        -->
        <!--<ce-page-btn ce-style="menu" ui-sref="articleManage.publish({'articleId':null})" ce-icon="glyphicon-pencil" ce-title="发布文章"></ce-page-btn>-->
        <ce-group-line ></ce-group-line>
        <ce-page-btn ce-style="menu" ui-sref="articleManage.list({'status':'PUBLISHED'})" ce-icon="glyphicon-th-list" ce-title="已发布"></ce-page-btn>
        <ce-page-btn ce-style="menu" ui-sref="articleManage.list({'status':'SKETCH'})" ce-icon="glyphicon-list-alt" ce-title="草稿"></ce-page-btn>
        <ce-page-btn ce-style="menu" ui-sref="articleManage.list({'status':'DELETED'})" ce-icon="glyphicon-trash" ce-title="回收站"></ce-page-btn>
    </ce-page-menu>
</ce-page-manager>


