{% extends 'layout.server.view.html' %}

{% block content %}
<!-- START lc-head -->
<div class="ce-head">
	<div class="ce-head-content"><!-- START ce-head-content -->
		<div class="ce-head-logo">
			<a href="/admin">
				<div class="logo">
					<!-- <img src="/img/mini-logo.png" /> -->
				</div>
				<span translate="SYSTEM.APP.NAME"></span>
			</a>
		</div>
		<div class="ce-head-navi">
			<div></div>
		</div>
	</div><!-- END   ce-head-content -->
</div>
<!-- END   ce-head -->
<!-- START ce-content -->
<div class="ce-content">
	<ce-menu></ce-menu>
	<div class="content" >
		<div ce-ui-butterbar></div>
		<ce-content-head></ce-content-head>
		<div  ui-view  class="content-view"></div>
	</div>
</div>
<!-- END   ce-content -->
<! -- START ce-loading-bar -->
<ce-loading-bar></ce-loading-bar>

{% endblock %}
