/*By Yan*/
body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Microsoft Yahei","WenQuanYi Micro Hei",Arial,Verdana,sans-serif;
  font-size: 14px;
  height: 100%; }

.ce-wrapper-body {
  position: relative; }

:root {
  filter: none; }

.ce-blue-background {
  background: #e6f6ff;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
  bottom: 0; }
  .ce-blue-background .overlay {
    background: -webkit-linear-gradient(to bottom, #fff, #e6f6ff);
    background: -moz-linear-gradient(to bottom, #fff, #e6f6ff);
    background: -ms-linear-gradient(to bottom, #fff, #e6f6ff);
    background: -o-linear-gradient(to bottom, #fff, #e6f6ff);
    background: linear-gradient(to bottom, #fff, #e6f6ff);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, rgba(230, 246, 255, 0.3)));
    filter: alpha(opacity=80), progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6f6ff);
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .ce-blue-background .linear-color {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .ce-blue-background .gear-inner {
    background: #e6f6ff;
    border-color: rgba(44, 151, 232, 0.15);
    z-index: 2; }
    .ce-blue-background .gear-inner .bar {
      border-color: rgba(44, 151, 232, 0.15);
      z-index: 1; }
  .ce-blue-background .gear .overlay {
    background: #e6f6ff;
    border: 1px solid rgba(44, 151, 232, 0.15); }
  .ce-blue-background .gear:after {
    background: #e6f6ff;
    border: 1px solid rgba(44, 151, 232, 0.15); }

.ce-blue2-background {
  background: #e6f6ff;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
  bottom: 0; }
  .ce-blue2-background .overlay {
    background: -webkit-linear-gradient(to bottom, #fff, #e6f6ff);
    background: -moz-linear-gradient(to bottom, #fff, #e6f6ff);
    background: -ms-linear-gradient(to bottom, #fff, #e6f6ff);
    background: -o-linear-gradient(to bottom, #fff, #e6f6ff);
    background: linear-gradient(to bottom, #fff, #e6f6ff);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, rgba(230, 246, 255, 0.3)));
    filter: alpha(opacity=80), progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6f6ff);
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .ce-blue2-background .linear-color {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .ce-blue2-background .gear-inner {
    background: #e6f6ff;
    border-color: rgba(44, 151, 232, 0.15);
    z-index: 2; }
    .ce-blue2-background .gear-inner .bar {
      border-color: rgba(44, 151, 232, 0.15);
      z-index: 1; }
  .ce-blue2-background .gear .overlay {
    background: #e6f6ff;
    border: 1px solid rgba(44, 151, 232, 0.15); }
  .ce-blue2-background .gear:after {
    background: #e6f6ff;
    border: 1px solid rgba(44, 151, 232, 0.15); }

.ce-green-background {
  background: #e8fff6;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
  bottom: 0; }
  .ce-green-background .overlay {
    background: -webkit-linear-gradient(to bottom, #fff, #e8fff6);
    background: -moz-linear-gradient(to bottom, #fff, #e8fff6);
    background: -ms-linear-gradient(to bottom, #fff, #e8fff6);
    background: -o-linear-gradient(to bottom, #fff, #e8fff6);
    background: linear-gradient(to bottom, #fff, #e8fff6);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, rgba(232, 255, 246, 0.3)));
    filter: alpha(opacity=80), progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e8fff6);
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .ce-green-background .linear-color {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .ce-green-background .gear-inner {
    background: #e8fff6;
    border-color: rgba(32, 175, 116, 0.15);
    z-index: 2; }
    .ce-green-background .gear-inner .bar {
      border-color: rgba(32, 175, 116, 0.15);
      z-index: 1; }
  .ce-green-background .gear .overlay {
    background: #e8fff6;
    border: 1px solid rgba(32, 175, 116, 0.15); }
  .ce-green-background .gear:after {
    background: #e8fff6;
    border: 1px solid rgba(32, 175, 116, 0.15); }

.ce-orange-background {
  background: #fffae8;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
  bottom: 0; }
  .ce-orange-background .overlay {
    background: -webkit-linear-gradient(to bottom, #fff, #fffae8);
    background: -moz-linear-gradient(to bottom, #fff, #fffae8);
    background: -ms-linear-gradient(to bottom, #fff, #fffae8);
    background: -o-linear-gradient(to bottom, #fff, #fffae8);
    background: linear-gradient(to bottom, #fff, #fffae8);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, rgba(255, 250, 232, 0.3)));
    filter: alpha(opacity=80), progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#fffae8);
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .ce-orange-background .linear-color {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .ce-orange-background .gear-inner {
    background: #fffae8;
    border-color: rgba(243, 157, 28, 0.15);
    z-index: 2; }
    .ce-orange-background .gear-inner .bar {
      border-color: rgba(243, 157, 28, 0.15);
      z-index: 1; }
  .ce-orange-background .gear .overlay {
    background: #fffae8;
    border: 1px solid rgba(243, 157, 28, 0.15); }
  .ce-orange-background .gear:after {
    background: #fffae8;
    border: 1px solid rgba(243, 157, 28, 0.15); }

.ce-gray-background {
  background: #fff;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
  bottom: 0; }
  .ce-gray-background .overlay {
    background: -webkit-linear-gradient(to bottom, #fff, #fff);
    background: -moz-linear-gradient(to bottom, #fff, #fff);
    background: -ms-linear-gradient(to bottom, #fff, #fff);
    background: -o-linear-gradient(to bottom, #fff, #fff);
    background: linear-gradient(to bottom, #fff, #fff);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, rgba(255, 255, 255, 0.3)));
    filter: alpha(opacity=80), progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#fff);
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .ce-gray-background .linear-color {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1; }
  .ce-gray-background .gear-inner {
    background: #fff;
    border-color: #f2f2f2;
    z-index: 2; }
    .ce-gray-background .gear-inner .bar {
      border-color: #f2f2f2;
      z-index: 1; }
  .ce-gray-background .gear .overlay {
    background: #fff;
    border: 1px solid #f2f2f2; }
  .ce-gray-background .gear:after {
    background: #fff;
    border: 1px solid #f2f2f2; }

.gear.one {
  top: 150px;
  left: -180px;
  height: 500px;
  width: 500px; }
  .gear.one:after {
    height: 250px;
    width: 250px;
    margin-left: -125px;
    margin-top: -125px; }
  .gear.one .gear-inner {
    -webkit-animation: "counter-clockwise" 50s infinite linear;
    -moz-animation: "counter-clockwise" 50s infinite linear; }
    .gear.one .gear-inner .bar {
      height: 125px;
      width: 600px;
      margin-left: -300px;
      margin-top: -62.5px; }

.gear.two {
  top: 600px;
  left: 260px;
  height: 500px;
  width: 500px; }
  .gear.two:after {
    height: 250px;
    width: 250px;
    margin-left: -125px;
    margin-top: -125px; }
  .gear.two .gear-inner {
    -webkit-animation: "clockwise" 50s infinite linear;
    -moz-animation: "clockwise" 50s infinite linear; }
    .gear.two .gear-inner .bar {
      height: 125px;
      width: 600px;
      margin-left: -300px;
      margin-top: -62.5px; }

.gear.three {
  top: 1050px;
  left: -180px;
  height: 500px;
  width: 500px; }
  .gear.three:after {
    height: 250px;
    width: 250px;
    margin-left: -125px;
    margin-top: -125px; }
  .gear.three .gear-inner {
    -webkit-animation: "counter-clockwise" 50s infinite linear;
    -moz-animation: "counter-clockwise" 50s infinite linear; }
    .gear.three .gear-inner .bar {
      height: 125px;
      width: 600px;
      margin-left: -300px;
      margin-top: -62.5px; }

.auto-rotate {
  -webkit-animation: clockwise 1s infinite linear;
  -moz-animation: clockwise 1s infinite linear;
  -ms-animation: clockwise 1s infinite linear;
  -o-animation: clockwise 1s infinite linear;
  animation: clockwise 1s infinite linear; }

.gearbox {
  height: 100%;
  width: 100%;
  position: relative;
  border: none;
  overflow: hidden;
  z-index: -2; }
  .gearbox .overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
    background-color: #000; }

.gearbox.turn .overlay {
  background: transparent; }

.gear {
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%; }
  .gear:after {
    content: "";
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    z-index: 3; }

.gear-inner {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid #d9f0ff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }
  .gear-inner .bar {
    border: 1px solid #d9f0ff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }
    .gear-inner .bar:nth-child(2) {
      -webkit-transform: rotate(60deg);
      -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      -o-transform: rotate(60deg);
      transform: rotate(60deg); }
    .gear-inner .bar:nth-child(3) {
      -webkit-transform: rotate(120deg);
      -moz-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
      -o-transform: rotate(120deg);
      transform: rotate(120deg); }
    .gear-inner .bar:nth-child(4) {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
    .gear-inner .bar:nth-child(5) {
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -o-transform: rotate(30deg);
      transform: rotate(30deg); }
    .gear-inner .bar:nth-child(6) {
      -webkit-transform: rotate(150deg);
      -moz-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
      -o-transform: rotate(150deg);
      transform: rotate(150deg); }

@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes counter-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-webkit-keyframes counter-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-moz-keyframes counter-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
