/*By Yan*/
.navbar-brand {
  padding: 9px 15px 9px 55px;
  font-size: 22px;
  display: block;
  position: relative;
  line-height: 35px;
  font-weight: 500; }

.navbar-brand img {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 12px;
  left: 16px; }

.ce-navbar-main {
  background: #E6F6FF;
  border: 0;
  border-bottom: 1px solid rgba(44, 151, 232, 0.1); }
  .ce-navbar-main .navbar-brand {
    color: #2c97e8; }
  .ce-navbar-main .navbar-toggle {
    border-color: #2c97e8; }
  .ce-navbar-main .navbar-nav > li > a {
    color: #2c97e8; }
  .ce-navbar-main .navbar-toggle .icon-bar {
    background-color: #2c97e8; }
  .ce-navbar-main .navbar-toggle:hover {
    background: none; }
  .ce-navbar-main .navbar-collapse {
    border-color: #d2e2eb; }
  .ce-navbar-main .navbar-toggle:focus {
    background: none; }
  .ce-navbar-main .navbar-nav > li > a:hover {
    color: #2c97e8; }
  .ce-navbar-main .navbar-nav > li > a:focus {
    color: #2c97e8; }
  .ce-navbar-main .navbar-brand:hover {
    color: #2c97e8; }

.ce-navbar-blue {
  background: #F8FCFF;
  border: 0;
  border-bottom: 1px solid rgba(44, 151, 232, 0.1); }
  .ce-navbar-blue .navbar-brand {
    color: #2c97e8; }
  .ce-navbar-blue .navbar-toggle {
    border-color: #2c97e8; }
  .ce-navbar-blue .navbar-nav > li > a {
    color: #2c97e8; }
  .ce-navbar-blue .navbar-toggle .icon-bar {
    background-color: #2c97e8; }
  .ce-navbar-blue .navbar-toggle:hover {
    background: none; }
  .ce-navbar-blue .navbar-collapse {
    border-color: #e4e8eb; }
  .ce-navbar-blue .navbar-toggle:focus {
    background: none; }
  .ce-navbar-blue .navbar-nav > li > a:hover {
    color: #2c97e8; }
  .ce-navbar-blue .navbar-nav > li > a:focus {
    color: #2c97e8; }
  .ce-navbar-blue .navbar-brand:hover {
    color: #2c97e8; }

.ce-navbar-green {
  background: #FAFFFD;
  border: 0;
  border-bottom: 1px solid rgba(32, 175, 116, 0.1); }
  .ce-navbar-green .navbar-brand {
    color: #00B170; }
  .ce-navbar-green .navbar-toggle {
    border-color: #00B170; }
  .ce-navbar-green .navbar-nav > li > a {
    color: #00B170; }
  .ce-navbar-green .navbar-toggle .icon-bar {
    background-color: #00B170; }
  .ce-navbar-green .navbar-toggle:hover {
    background: none; }
  .ce-navbar-green .navbar-collapse {
    border-color: #e6ebe9; }
  .ce-navbar-green .navbar-toggle:focus {
    background: none; }
  .ce-navbar-green .navbar-nav > li > a:hover {
    color: #00B170; }
  .ce-navbar-green .navbar-nav > li > a:focus {
    color: #00B170; }
  .ce-navbar-green .navbar-brand:hover {
    color: #00B170; }

.ce-navbar-orange {
  background: #FFFEFA;
  border: 0;
  border-bottom: 1px solid rgba(243, 157, 28, 0.1); }
  .ce-navbar-orange .navbar-brand {
    color: #F59F00; }
  .ce-navbar-orange .navbar-toggle {
    border-color: #F59F00; }
  .ce-navbar-orange .navbar-nav > li > a {
    color: #F59F00; }
  .ce-navbar-orange .navbar-toggle .icon-bar {
    background-color: #F59F00; }
  .ce-navbar-orange .navbar-toggle:hover {
    background: none; }
  .ce-navbar-orange .navbar-collapse {
    border-color: #ebeae6; }
  .ce-navbar-orange .navbar-toggle:focus {
    background: none; }
  .ce-navbar-orange .navbar-nav > li > a:hover {
    color: #F59F00; }
  .ce-navbar-orange .navbar-nav > li > a:focus {
    color: #F59F00; }
  .ce-navbar-orange .navbar-brand:hover {
    color: #F59F00; }

.ce-navbar-gray {
  background: #fff;
  border: 0;
  border-bottom: 1px solid #EEEEEE; }
  .ce-navbar-gray .navbar-brand {
    color: #555555; }
  .ce-navbar-gray .navbar-toggle {
    border-color: #555555; }
  .ce-navbar-gray .navbar-nav > li > a {
    color: #555555; }
  .ce-navbar-gray .navbar-toggle .icon-bar {
    background-color: #555555; }
  .ce-navbar-gray .navbar-toggle:hover {
    background: none; }
  .ce-navbar-gray .navbar-collapse {
    border-color: #ebebeb; }
  .ce-navbar-gray .navbar-toggle:focus {
    background: none; }
  .ce-navbar-gray .navbar-nav > li > a:hover {
    color: #555555; }
  .ce-navbar-gray .navbar-nav > li > a:focus {
    color: #555555; }
  .ce-navbar-gray .navbar-brand:hover {
    color: #555555; }

.ce-navbar-normal {
  background: #fff;
  border: 0;
  border-bottom: 1px solid #EEEEEE; }
  .ce-navbar-normal .navbar-brand {
    color: #555; }
  .ce-navbar-normal .navbar-toggle {
    border-color: #555; }
  .ce-navbar-normal .navbar-nav > li > a {
    color: #555; }
  .ce-navbar-normal .navbar-toggle .icon-bar {
    background-color: #555; }
  .ce-navbar-normal .navbar-toggle:hover {
    background: none; }
  .ce-navbar-normal .navbar-collapse {
    border-color: #ebebeb; }
  .ce-navbar-normal .navbar-toggle:focus {
    background: none; }
  .ce-navbar-normal .navbar-nav > li > a:hover {
    color: #555; }
  .ce-navbar-normal .navbar-nav > li > a:focus {
    color: #555; }
  .ce-navbar-normal .navbar-brand:hover {
    color: #555; }

.jumbotron-header {
  height: 230px;
  padding-top: 30px;
  position: relative;
  overflow: hidden; }

.jumbotron-header-title {
  color: #555; }
  .jumbotron-header-title h1 {
    font-size: 350%; }

.jumbotron-header-subtitle {
  color: #555;
  font-size: 120%;
  opacity: 0.8;
  margin-top: 10px; }
