@import "../../layout/scss/comment.env";

$contact-color:$ce-color-orange;
$contact-border-color:rgba(243,157,28,.1);
//设置巨幕颜色
@include setJumbotronColor(none,'contact',$contact-color);


.contact-content{
  padding-top:50px;
  padding-bottom:100px;
  .contact-card{
    background: rgba(255,255,255,.5);
    border:1px solid $contact-border-color;
    border-radius: 2px;
    margin-bottom:50px;
    .contact-padding{
      padding:20px;
    }
    .top{
      position: relative;
      $avatar-size:50px;
      .avatar{
        width: $avatar-size;
        height:$avatar-size;
        img{
          width: $avatar-size;
          height: $avatar-size;
          border-radius: 100%;
        }
      }
      .name{
        position: absolute;
        left:60px;
        height:25px;
        top:0;
      }
      .stateMessage{
        position: absolute;
        left:60px;
        height:25px;
        top:25px;
        font-size: 90%;
        color:#888;
      }

    }

    .center{
      margin-top:20px;
      border-top:1px solid $contact-border-color;
      padding-top:20px;
      .detail{
        border-radius: 2px;
        padding:20px;
      }
    }

    .bottom{
      margin-top:20px;
      .tag{

        .tags{
          ul{
            padding:0;
          }
          li{
            float:left;
            min-width: 50px;
            height:20px;
            line-height: 20px;
            list-style: none;
            background: $contact-color;
            text-align: center;
            color:#fff;
            margin-left:5px;
            padding:0 10px;
            border-radius: 2px;
            margin-bottom:5px;
          }
        }
      }

    }

    .contact{
      border-top:1px solid $contact-border-color;
      height:40px;
      display: -moz-box;
      display: -webkit-box;
      display: box;

      .contacts{
        height:30px;
        line-height: 30px;
        margin-top:5px;
        border-right:1px solid $contact-border-color;
        text-align: center;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-box-flex: 1;
        box-flex: 1;
        &:last-child{
          border-right: 0;
        }
      }
    }
  }
}