
<ce-page-manager>
    <ce-page-menu>
        <ce-group-name title="我的资料">
            <ce-page-btn ce-style="menu" ui-sref="usersManage.edit({'usersId':null})" ce-icon="glyphicon-user" ce-title="个人设置"></ce-page-btn>
        </ce-group-name>
        <ce-group-name title="用户管理">
            <ce-page-btn ce-style="menu" ui-sref="usersManage.list({'status':'PASSED','enabled':'true'})" ce-icon="glyphicon-th-list" ce-title="用户列表"></ce-page-btn>
            <!--<ce-page-btn ce-style="menu" ui-sref="usersManage.list({'status':'WAITING','enabled':'false'})" ce-icon="glyphicon-question-sign" ce-title="待审用户"></ce-page-btn>-->
            <!--<ce-page-btn ce-style="menu" ui-sref="usersManage.list({'status':'DELETED','credentialsNonExpired':'false'})" ce-icon="glyphicon-remove-sign" ce-title="黑名单"></ce-page-btn>-->
        </ce-group-name>
        <ce-group-name title="权限管理">
            <ce-page-btn ce-style="menu" ui-sref="usersManage.rolesManage" ce-icon="glyphicon-th-list" ce-title="角色列表"></ce-page-btn>
            <ce-page-btn ce-style="menu" ui-sref="usersManage.resourcesManage" ce-icon="glyphicon-question-sign" ce-title="资源列表"></ce-page-btn>
            <ce-page-btn ce-style="menu" ui-sref="usersManage.permissionsManage" ce-icon="glyphicon-remove-sign" ce-title="权限列表"></ce-page-btn>
        </ce-group-name>
    </ce-page-menu>
</ce-page-manager>


