<div ng-controller="usersListCtrl">

    <ce-page-header>
        <ce-search-bar ce-placeholder="搜索..."  ce-click="onSearchClick(keyWord)"></ce-search-bar>
    </ce-page-header>

    <ce-data-list ce-data="jsonData" small-size="true" page-previous-click="previousPage()" page-next-click="nextPage()" >
        <ce-data-custom>
            <div class="user-list-card">
                <div class="top">
                    <div class="avatar">
                        <img ng-src="{{item.avatar}}" class="img-circle" />
                    </div>
                    <div class="name" ng-bind="item.displayName">Yan</div>
                </div>
                <div class="detail">
                    <ul class="list-unstyled">
                        <li><label>性别</label> {{item.sex == 1 ?'男':'女'}}</li>
                        <li><label>邮箱</label> {{item.email}}</li>
                        <li><label>电话</label> {{item.phone}}</li>
                        <li><label>状态</label> {{item.enabled ? '可用' : '禁用' }}</li>
                        <li><label>创建时间</label> <span ce-friendly-time="item.createdTime"></span></li>
                    </ul>
                </div>

            </div>
        </ce-data-custom>
        <ce-data-toolbar status-key="status" >
            <ce-data-toolbar-btn icon="glyphicon-user" title="角色" ng-click="onEditClick( item );" status-equals="'WAITING','PASSED','SKETCH'"></ce-data-toolbar-btn>
            <ce-data-toolbar-btn icon="glyphicon-edit" title="编辑" ng-click="onEditClick( item );" status-equals="'WAITING','PASSED','SKETCH'"></ce-data-toolbar-btn>
            <ce-data-toolbar-btn icon="glyphicon-ok" title="通过" ng-click="onEditClick( item );" status-equals="'WAITING','PASSED','SKETCH'"></ce-data-toolbar-btn>
            <ce-data-toolbar-btn icon="glyphicon-trash" title="禁用" ng-click="onDeleteClick( item );" status-equals="'WAITING','PASSED','SKETCH'"></ce-data-toolbar-btn>
        </ce-data-toolbar>
    </ce-data-list>

</div>