<div class="row" >

    <div class="col-sm-3">
        <div class="user-avatar-container">
            <img ng-if="user.avatar !== null && !readSaveAvatar" ng-src="{{user.avatar}}" />
            <img ng-if="readSaveAvatar" ng-src="{{readSaveAvatarUrl}}" />
            <img ng-if="user.avatar === null" src="/modules/core/img/avatar.png" />
            <a class="edit-mask" ng-click="onEditAvatarClick()">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="col-sm-9">
        <form name="userForm" autocomplete="off">

                <div class="form-group">
                    <label for="displayName">用户名</label>
                    <input type="text" id="username" name="username" class="form-control "
                           ng-model="user.username" placeholder="username" ng-disabled="!isCreate">
                    <span  class="help-block">此「 用户名 」用于登录</span>
                </div>

                <div class="form-group">
                    <label for="displayName">昵称</label>
                    <input type="text" id="displayName" name="displayName" class="form-control "
                           ng-model="user.displayName" placeholder="Display Name" ng-disabled="isGuest">
                    <span  class="help-block">此「 昵称 」将会使用在文章,作品等地方展示</span>
                    <span  class="help-block" ng-show="isGuest"><p class="text-danger">体验用户,除了「 昵称,标签 」不能改,其余都可以</p></span>
                </div>

                <div class="form-group">
                    <label class="control-label">性别</label>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" name="sex" value="1" ng-model="user.sex" > 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="sex" value="0" ng-model="user.sex"> 女
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="intro">个性签名</label>
                    <input type="text" id="intro"  name="intro" class="form-control " ng-model="user.intro"
                           placeholder="个性签名">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control " ng-model="user.email"
                           validator="email" email-error-message="邮箱格式不正确"
                           placeholder="Email">
                    <span  class="help-block">填写「 Email 」方便管理员内部联系和重设密码</span>
                </div>
                <div class="form-group">
                    <label for="phone">联系电话</label>
                    <input type="phone" id="phone" name="phone" class="form-control " ng-model="user.phone"
                           placeholder="联系电话">
                    <span  class="help-block">填写「 联系电话 」方便管理员内部联系</span>
                </div>
                <div class="form-group" ng-if="!isCreate">
                    <label >个性标签</label>
                    <ui-select multiple tagging="tagTransform" tagging-label="(按'回车'录入自定义标签)" theme="bootstrap"  ng-model="user.userProfileTags" sortable="true" ng-disabled="isGuest">
                        <ui-select-match placeholder="请选择标签...">
                            {{$item.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in (itemArray | filter: $select.search)">
                            {{item.name}}
                            <i ng-if="item.isTag">{{$select.taggingLabel}}</i>
                        </ui-select-choices>
                    </ui-select>
                    <span  class="help-block">可以直接输入自定义标签回车</span>
                    <span  class="help-block" ng-show="isGuest"><p class="text-danger">体验用户,除了「 昵称,标签 」不能改,其余都可以</p></span>
                </div>
                <div class="form-group">
                    <label for="summary">个性签名</label>
                    <textarea id="summary"  name="summary" class="form-control " ng-model="user.summary"
                           placeholder="简单介绍下自己"></textarea>
                </div>
                <div class="form-group text-center visible-xs" >
                    <button  class="btn btn-large btn-info"  validation-submit="userForm" ng-click="onSaveUserClick()">保存信息</button>
                </div>
                <div class="form-group hidden-xs">
                    <button  class="btn btn-large btn-info" validation-submit="userForm" ng-click="onSaveUserClick()">保存信息</button>
                    <button class="btn btn-warning" type="button" ce-on-cancel-click >返回</button>
                </div>
        </form>
    </div>
</div>