<div class="modal-header">
	<h3 class="modal-title">
		<span ng-bind="item.username"></span>重置密码
	</h3>
</div>
<form name="EditForm">
	<div class="modal-body">
		<div class="form-group">
			<label for="newPassword">新密码</label>
			<input type="password" id="newPassword" name="newPassword" class="form-control"
				   data-ng-model="passwordDetails.newPassword"
				   validator="required" required-error-message="必须输入新密码"
				   placeholder="New Password">
		</div>
		<div class="form-group">
			<label for="verifyPassword">重输密码</label>
			<input type="password" id="verifyPassword" name="verifyPassword" class="form-control"
				   data-ng-model="passwordDetails.verifyPassword"
				   validator="required,compareTo" required-error-message="请重输密码"
				   compare-to="{{passwordDetails.newPassword}}" compare-to-error-message="两次输入的密码不一致"
				   message-id="verifyPasswordMsg"
				   placeholder="Verify Password">
			<span id="verifyPasswordMsg"></span>
		</div>
		<div class="form-group text-center">
			<div data-ng-if="error" class="text-center text-danger">
				<strong ng-bind="error"></strong>
			</div>
			<div data-ng-if="success" class="text-center text-success">
				<strong ng-bind="success"></strong>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-info" ng-click="askForPasswordReset()">发送重置链接到邮箱</button>
		<button class="btn btn-info" validation-submit="EditForm" type="submit" ng-click="resetUserPassword()">确定</button>
		<button class="btn btn-default" type="button" ce-on-cancel-click >取消</button>
	</div>
</form>