@import "../../layout/scss/comment.env";




//头部第一组样式
.section-header{
  width:100%;
  background-size: cover;
  padding-top:70px;
  padding-bottom: 100px;
  .section-header-sm-title{
    padding-top:50px;
    text-align: center;
    color:#fff;
    text-shadow: 1px 1px 8px #0f0f0f;
    h1{
      font-size:350%;
    }
  }

  //副标题
  .section-header-subTitle{
    padding-top:40px;
    text-align: center;
    color:$ce-color;
    font-size:140%;
  }
  //了解我们按钮
  .section-header-button{
    padding-top:90px;
    text-align: center;
  }
}



.section-team{
  padding-top:150px;
  color: $ce-color;
}

//头部第一组 标题
.section-header-title{
  padding-top:50px;
  text-align: center;
  color:$ce-color;
  h1{
    font-size:450%;
  }
}

