/*By Yan*/
.about-btn {
  color: #fff;
  background: #2c97e8;
  border-color: #2c97e8;
  border-radius: 40px;
  padding: 10px 28px; }
  .about-btn:hover {
    background: #43a2eb;
    border-color: #2c97e8; }

.section-header {
  width: 100%;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 100px; }
  .section-header .section-header-sm-title {
    padding-top: 50px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 8px #0f0f0f; }
    .section-header .section-header-sm-title h1 {
      font-size: 350%; }
  .section-header .section-header-subTitle {
    padding-top: 40px;
    text-align: center;
    color: #2c97e8;
    font-size: 140%; }
  .section-header .section-header-button {
    padding-top: 90px;
    text-align: center; }

.section-team {
  padding-top: 150px;
  color: #2c97e8; }

.section-header-title {
  padding-top: 50px;
  text-align: center;
  color: #2c97e8; }
  .section-header-title h1 {
    font-size: 450%; }

.ce-section {
  padding: 80px 0; }
  .ce-section .text-detail h2 {
    font-size: 26px;
    margin: 0 0 20px -2px;
    font-weight: 300; }
  .ce-section .text-detail p {
    line-height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 300; }
  .ce-section .text-icon {
    font-size: 1600%;
    line-height: 50px; }
  .ce-section .image-icon {
    max-width: 226px; }
