{% extends 'layout.server.view.html' %}

{% block content %}

<!-- START ce-head -->
<div class="ce-head">
	<div data-ng-include="'/modules/core/views/core.header.view.html'">
	</div>
</div><!-- END ce-head -->

<!-- START ce-content -->
<div class="ce-content container-fluid">
	<ce-menu></ce-menu><!-- 菜单 -->
	<ce-toast></ce-toast><!-- 消息提示 -->
	<div class="content"  >
		<div ce-ui-butterbar></div>
		<ce-content-head></ce-content-head>
		<div  ui-view  class="content-view"></div>
	</div>
</div><!-- END ce-content -->

<!-- START ce-loading-bar -->
<ce-loading-bar>
</ce-loading-bar><!-- END ce-loading-bar -->

{% endblock %}
