{% extends 'layout.server.view.html' %}

{% block content %}
<!-- 手机导航未完成,日后继续 -->
<div class="m-navbar-padding visible-xs"></div>
<nav class="m-navbar navbar navbar-inverse navbar-fixed-top  visible-xs">
	<div class="container" uib-dropdown>
		<div class="navbar-header" >
			<button type="button" class="navbar-toggle collapsed" uib-dropdown-toggle data-toggle="collapse" data-target="#ce-navi-bar" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img alt="Brand" src="/modules/core/img/logo_64X64_transparent.png">
				Coding Era
			</a>
		</div>
		<div class="collapse navbar-collapse" uib-dropdown-menu id="ce-navi-bar" aria-expanded="false">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/#">菜单维护中</a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- START ce-head -->
<div class="ce-head-container container-fluid hidden-xs">
	<div class="row">


		<div class="col-sm-12">
			<script type="text/ng-template" id="logoText.html">
				<div class="logo-tip">Coding Era Studio</div>
			</script>
			<ce-content-head></ce-content-head>
		</div>


	</div>
</div>
<!-- END ce-head -->

<!-- START ce-content -->
<div class="ce-content container-fluid">
	<div class="row">
		<!--<div class="ce-slide-menu col-sm-1 hidden-xs">-->

		<!--</div>-->
		<div class=" col-sm-12">
			<div class="row">

					<!-- 下面这行代码别删 -->
					<!--<div ce-ui-butterbar></div>-->
					<div class="ce-slide-menu hidden-xs col-sm-1">
						<ce-menu></ce-menu><!-- 菜单 -->
					</div>
				<!--[if lt IE 9]>
				<section class="browsehappy jumbotron hide ">
					<h1 class="text-center">你好!</h1>
					<p class="text-center">你正在使用一个比较旧的浏览器(IE9版本以下),为了WEB的长远发展,我们建议升级你的浏览器</p>
					<p class="text-center">请 <a href="http://browsehappy.com/">点击这里</a> 升级你的浏览器后回来浏览本站</p>
					<p class="text-center"><a href="http://browsehappy.com" class="btn btn-primary btn-lg" role="button">好的, 升级我的浏览器!</a></p>
				</section>
				<![endif]-->
					<div  ui-view  class="ce-content-view container-fluid"></div>


			</div>

		</div>
	</div>

	<ce-toast></ce-toast><!-- 消息提示 -->
	<div class="content"  >



	</div>
</div><!-- END ce-content -->

<!-- START ce-loading-bar -->
<ce-loading-bar>
</ce-loading-bar><!-- END ce-loading-bar -->

{% endblock %}
