{% extends 'layout.server.view.html' %}

{% block content %}
<!-- 手机导航未完成,日后继续 -->
<div class="m-navbar-padding visible-xs"></div>
<nav class="m-navbar navbar navbar-inverse navbar-fixed-top  visible-xs">
	<div class="container" uib-dropdown>
		<div class="navbar-header" >
			<button type="button" class="navbar-toggle collapsed" uib-dropdown-toggle data-toggle="collapse" data-target="#ce-navi-bar" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img alt="Brand" src="/modules/core/img/logo_64X64_transparent.png">
				Coding Era
			</a>
		</div>
		<div class="collapse navbar-collapse" uib-dropdown-menu id="ce-navi-bar" aria-expanded="false">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">首页</a></li>
				<li><a href="/case">作品</a></li>
				<li><a href="/dynamic">动态</a></li>
				<li><a href="/about">关于</a></li>
				<li><a href="/contact">联系我们</a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- START ce-head -->
<div class="ce-head-container container-fluid hidden-xs">
	<div class="row">
		<div class="ce-side-head col-sm-1 ">
			<div class="ce-logo " tooltip-placement="right"  uib-tooltip-template="'logoText.html'">
				<div class="animated" ng-class="{tada:onAnimated,swing:!onAnimated}" ng-click="onAnimated=!onAnimated">
				<img   src="/modules/core/img/logo_64X64_transparent.png">
				</div>
			</div>
			<script type="text/ng-template" id="logoText.html">
				<div class="logo-tip">Coding Era Admin</div>
			</script>
		</div>

		<div class="container-fluid">
			<ce-content-head></ce-content-head>
		</div>


	</div>
</div>
<!-- END ce-head -->

<!-- START ce-content -->
<div class="ce-content container-fluid">
	<div class="row">
		<div class="ce-slide-menu col-sm-1 hidden-xs">
			<ce-menu></ce-menu><!-- 菜单 -->
		</div>
		<div class="container-fluid">
			<div class="row">
					<div ce-ui-butterbar></div>


					<div  ui-view  class="ce-content-view container-fluid"></div>
			</div>

		</div>
	</div>

	<ce-toast></ce-toast><!-- 消息提示 -->
	<div class="content"  >



	</div>
</div><!-- END ce-content -->

<!-- START ce-loading-bar -->
<ce-loading-bar>
</ce-loading-bar><!-- END ce-loading-bar -->

{% endblock %}
