@import "../../../common/client/scss/env.client.style";

$case-color:$ce-color-blue;
$case-color-border:rgba(44,151,232,.1);
//设置巨幕颜色
@include setJumbotronColor(none,'case',$case-color);


.case-content{
  //padding-top:50px;
  //padding-bottom:100px;

  //错误信息
  .server-error-msg{
    color:$ce-color-red;
  }
  //分页按钮样式
  .page-btn{
    a{
      background-color: $case-color;
      border-color: $case-color-border;
      color:#fff;
      border-radius: 4px;
      padding:10px 20px;
      //动画
      transition: color .4s ease,opacity .4s ease,border .4s ease,background .4s ease;
      &:hover{
        background-color: rgba(44,151,232,.1);
        color:$case-color;
      }
    }
  }

  .case-card{
    background: rgba(255,255,255,.5);
    border:1px solid $case-color-border;
    border-radius: 2px;
    margin-bottom:50px;
    .case-padding{
      padding:10px 20px;
      .top{
        .title{
          a{
            text-decoration: none;
            color:$case-color;
            &:hover{
              color:$case-color;
            }
          }
          h2,h4{
            overflow:hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            width:100%;
          }

        }
        .subtitle{
          color:#888;
          padding:5px 0 10px 0;
        }
      }
      .content{
        .pic{
          width:100%;
          max-height:200px;
          border-radius:2px;
          overflow: hidden;
          cursor: pointer;
          img{
            width:100%;
            border-radius:2px;
          }
        }
        .summary{
          padding:10px 0;
        }

      }
    }
    .bottom{
      border-top:1px solid $case-color-border;
      height:40px;
      display: -moz-box;
      display: -webkit-box;
      display: box;

      .bottom-card{
        height:30px;
        line-height: 30px;
        margin-top:5px;
        border-right:1px solid $case-color-border;
        text-align: center;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-box-flex: 1;
        box-flex: 1;
        cursor: pointer;
        &:last-child{
          border-right: 0;
        }
      }

    }

  }

  .case-page{
    text-align: center;
  }
}


.case-tags{
  background: rgba(255,255,255,.5);
  border:1px solid $case-color-border;
  border-radius: 2px;
  padding:10px 20px 20px 20px;
  .tags{
    ul{
      padding:0;
    }
    li{
      float:left;
      min-width: 50px;
      height:30px;
      line-height: 20px;
      list-style: none;
      background: $case-color;
      text-align: center;
      color:#fff;
      margin-left:5px;
      padding:5px 10px;
      border-radius: 2px;
      margin-bottom:5px;
      cursor: pointer;
      transition: color .4s ease,opacity .4s ease,border .4s ease,background .4s ease;
      &:hover{
        background-color: $case-color-border;
        color:$case-color;
      }
    }
  }
}


//明细
.case-detail{
  @include cardStyle();
  &-padding{
    padding:0 20px 20px 20px;
    .detail-subtitle{
      color:#888;
    }

    .detail-content{
      h1,h2,h3,h4,h5,h6{
        color: $case-color;
      }
      img{
        width:100%;
        margin:10px 0;
        border-radius:2px;
      }
    }
  }

  .detail-bottom{
    border-top:1px solid #eee;
    height:40px;
    display: -moz-box;
    display: -webkit-box;
    display: box;

    .bottom-card{
      height:30px;
      line-height: 30px;
      margin-top:5px;
      border-right:1px solid #eee;
      text-align: center;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-box-flex: 1;
      box-flex: 1;
      cursor: pointer;
      &:last-child{
        border-right: 0;
      }
    }

  }
}