@import "../../core/scss/core-env.client.style";



.ce-dynamic-container{

    padding-left:55px;
    $line-color:$ce-color;
    $line-size:3px;
    .dynamic-line-container{
      margin-top:35px;
      padding-top:80px;
      padding-bottom:100px;
      margin-bottom:50px;
      border-left:$line-size solid $line-color;
      position: relative;
    }
    .dynamic-publish-container{
      position: absolute;
      $publish-border-size:3px;
      $publish-width:90px;
      $publish-height:40px;
      top:$publish-height * -0.5;
      left:(($publish-width + ($publish-border-size*2)) + $line-size*-0.5 ) * -0.5;
      a{
        text-align: center;
        color:#fff;
        display: inline-block;
        background: $line-color;
        height: $publish-height;
        width:$publish-width;
        border:$publish-border-size solid #F4F5F7;
        line-height: $publish-height - $publish-border-size * 2;
        font-size:80%;
        border-radius: 6px;
        position: relative;
      }

    }

    .dynamic-more-container{
      position: absolute;
      $publish-border-size:3px;
      $publish-width:36px;
      $publish-height:36px;
      bottom:$publish-height * -0.5;
      left:(($publish-width + ($publish-border-size*2)) + $line-size*-0.5 - $line-size/2 ) * -0.5;
      .more-btn{
        text-align: center;
        color:$ce-color;
        display: inline-block;
        background: #fff;
        height: $publish-height;
        width:$publish-width;
        border:$publish-border-size solid #F4F5F7;
        line-height: $publish-height - $publish-border-size * 2;
        font-size:80%;
        border-radius: 50%;
        position: relative;
      }

    }

    .dynamic-card{
      $card-background:#fff;
      $card-border-color:#eeeeee;
      $card-margin-left:20px;
      $card-padding:15px;
      $triangle-size:12px;

      &.start{
        margin-top: 0;
        position: absolute;
        background: none;
        border-color: #F4F5F7;
        left:0;
        top: -10px;
        box-shadow:none;
        .start-point{
          &.click{
            cursor: pointer;
          }
          $trash-point-size:36px;
          $trash-point-border:3px;
          width:$trash-point-size;
          height:$trash-point-size;
          background: $line-color + 10;
          position: absolute;
          top:$triangle-size/2;
          left:($card-margin-left + ($trash-point-size + $trash-point-border*2 - $line-size/2 )/2 ) * -1;
          border:$trash-point-border solid #F4F5F7;
          border-radius: 100px;
          text-align: center;
          line-height: $trash-point-size;
          color: #fff;
          .glyphicon{
            top: -1px;
          }
        }
      }

      background: $card-background;
      box-shadow: 0 0 2px rgba(0,0,0,0.2);
      border-radius: 4px;
      padding:$card-padding;
      margin-left:$card-margin-left;
      position: relative;
      margin-top:50px;


      .triangle-left-border{
        $triangle-border-size:$triangle-size + 1;
        width: 0;
        height: 0;
        border-top: $triangle-border-size/2 solid transparent;
        border-right: $triangle-border-size solid $card-border-color;
        border-bottom: $triangle-border-size/2 solid transparent;
        position: absolute;
        left:$triangle-border-size * -1;
        top:$triangle-size;
      }
      .triangle-left {
        width: 0;
        height: 0;
        border-top: $triangle-size/2 solid transparent;
        border-right: $triangle-size solid $card-background;
        border-bottom: $triangle-size/2 solid transparent;
        position: absolute;
        left:( $triangle-size - 1 ) * -1;
        top:$triangle-size;
      }

      $point-size:18px;
      $point-border:3px;
      .point{
        width:$point-size;
        height:$point-size;
        background: $line-color + 10;
        position: absolute;
        top:$triangle-size - ($point-size - $triangle-size)/2;
        left:($card-margin-left + ($point-size + $point-border*2 - $line-size/2)/2 ) * -1;
        border:$point-border solid #F4F5F7;
        border-radius: 100px;
      }


      //卡样式
      .card-detail{
        .top{
          position: relative;
          .avatar{
            $avatar-size:50px;
            width:$avatar-size;
            height:$avatar-size;
            img{
              width:$avatar-size;
              height:$avatar-size;
              border-radius: 100%;
            }
          }
          .name{
            position: absolute;
            top:0;
            left:60px;
            height:25px;
            line-height: 30px;
            font-size:110%;
          }
          .time{
            position: absolute;
            left:60px;
            top:25px;
            height:25px;
            line-height: 25px;
            color:#888;
            font-size:80%;
          }
        }

        .bottom{
          .content{
            margin-top:10px;
            padding:10px;
            background: #fff;
            border-radius: 2px;
            color:#37393A;
          }

        }
      }


      .toolbar-container{
        @include ce-display-box;
        $btn-size:40px;
        height: $btn-size;
        border-top:1px solid #EAEFF0;
        background: #fcfcfc;
        border-radius: 0 0 4px 4px;
        margin:$card-padding ($card-padding * -1) ($card-padding * -1) ($card-padding * -1);
        .toolbar-btn{
          @include ce-flex(1);
          border-right:1px solid #EAEFF0;
          text-align: center;

          width:0;
          height:$btn-size - 16;
          margin-top: 8px;
          line-height: $btn-size - 16;
          display:block;
          &:last-child{
            border-right:0;
          }

          a{
            color:#666;
            &:hover{
              color:$ce-color !important;
            }
            &.del{
              color:#FF0000;
            }
          }


        }
      }
    }

}

.dynamic-edit-publish-top{
  position: relative;
  $avatar-size:50px;
  .avatar{
    width:$avatar-size;
    height:$avatar-size;
    img{
      width:$avatar-size;
      height:$avatar-size;
      border-radius: 100%;
    }
  }
  .name{
    position: absolute;
    top:0;
    left:60px;
    height:$avatar-size;
    line-height: $avatar-size;
    font-size:110%;
  }
}