<div class="modal-header">
    <h3 class="modal-title">发布动态</h3>
</div>
<form name="EditForm"   >
    <div class="modal-body">

        <div class="form-group">
            <div class="dynamic-edit-publish-top">
                <div class="avatar"><img ng-src="{{currentUser.avatar}}" /></div>
                <div class="name" ng-bind="currentUser.displayName"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">最新动态内容</label>
            <textarea
                    class="form-control"
                    placeholder="输入最新动态"
                    name="content"
                    ng-model="dynamic.content"
                    validator="required"
                    required-error-message="必须输入动态内容"
            ></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" validation-submit="EditForm" type="submit" ng-click="onPublishClick()">{{publishedBtnText}}</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
    </div>
</form>

