<ce-page-header>
    <ce-search-bar ce-placeholder="搜索..."  ce-click="onSearchClick(keyWord)"></ce-search-bar>
</ce-page-header>

<div class="ce-dynamic-container">

    <div class="dynamic-line-container" ng-class="{'deleted-status':status !== 'PUBLISHED'}">

        <div class="dynamic-publish-container " ng-if="status === 'PUBLISHED' " >
            <a ng-click="onPublishClick()" >
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                发布动态
            </a>
        </div>



        <div class="dynamic-card" ng-repeat="dynamic in dynamicData.content"><!-- dynamic-card -->
            <div class="point"></div>
            <div class="triangle-left-border"></div>
            <div class="triangle-left"></div>
            <div class="card-detail">
                <div class="top">
                    <div class="avatar">
                        <img ng-if="dynamic.createdUser.avatar === null" ng-src="/modules/core/img/avatar.png">
                        <img ng-if="dynamic.createdUser.avatar !== null" ng-src="{{dynamic.createdUser.avatar}}">
                    </div>
                    <div class="name" ng-bind="dynamic.createdUser.displayName"></div>
                    <div class="time" ce-friendly-time="dynamic.createdTime"></div>
                </div>
                <div class="bottom">
                    <div class="content" ng-bind="dynamic.content">
                    </div>
                </div>
                <div class="toolbar-container" ng-if="status === 'PUBLISHED' ">
                    <div class="toolbar-btn">
                        <a  ng-click="onEditClick(dynamic)" title="编辑" class="ng-binding ng-scope"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 编辑</a>
                    </div>
                    <div class="toolbar-btn">
                        <a  ng-click="onDeleteClick(dynamic)" title="删除" class="ng-binding ng-scope"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 删除</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="dynamic-card" ng-if="dynamicData.content.length == 0"><!-- dynamic-card -->
            <div class="point"></div>
            <div class="triangle-left-border"></div>
            <div class="triangle-left"></div>
            <div class="card-detail">
                <div class="top">
                    <div class="avatar"><img src="/modules/core/img/logo_128X128.png"></div>
                    <div class="name">Coding Era</div>
                    <div class="time">Now...</div>
                </div>
                <div class="bottom">
                    <div class="content">
                        <span ng-if="status === 'PUBLISHED' ">
                            Coding Era 提示您 , 当前没有动态 , 请点击「 发布动态 」
                        </span>
                        <span ng-if="status !== 'PUBLISHED' ">
                            Coding Era 提示您 , 当前「 回收站 」没有已删除动态
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="dynamic-more-container " >
            <a ng-click="onLoadMoreClick()" class="more-btn" ng-if="!dynamicData.last" >
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                加载更多
            </a>
            <span class="more-btn"  ng-if="dynamicData.last" >
                没有更多了
            </span>
        </div>

    </div>

</div>


