@import "home.env.admin.view";
@import "grid.env.view";
//grid 全局样式


.gridStyle {
  border: 1px solid $ce-border-color;
  height: 350px;
  border-radius: 4px;
  width:100%;
}

.ce-grid{
  width:100%;
}

.ui-grid-render-container{
  @include ce-border-radius(2px 2px 0 0);
}
.ui-grid-header{
  border-bottom:1px solid #EAEFF0;
}
.ui-grid-header-cell{
  border-right: $ce-grid-head-border-width solid $ce-grid-head-border-color;
}

.ui-grid-top-panel{
  background:$ce-grid-head-background;
}

.ui-grid-cell{
  border-right:$ce-grid-cell-border-width solid $ce-grid-cell-border-color;
}

.ui-grid-header-cell .ui-grid-cell-contents{
  padding:8px 10px;
}

.ui-grid-column-menu-button{
  top:6px;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: $ce-grid-cell-even-background-color;
}

.ui-grid-cell{
  margin-top:-1px;
  border-bottom:$ce-grid-cell-border-bottom-width solid $ce-grid-cell-border-bottom-color;
}