@import "home.env.admin.view";



/**
 * 	菜单样式
 */

.ce-content {
    .menu {
      position: absolute;
      top: 0;
      left: 0;
      width: $ce-menu-width;
      height: 100%;
      background-color: $ce-dark-color;
      border-right: 1px solid #000;
      $hover-color: #32374B;
      @include ce-user-select(none);
      ul.parent li {
        display: block;
        position: relative;
        &.pactive, &:hover {
          background: $hover-color;
          color: #fff;
          a.parent-a {
            border-left: 4px solid $ce-color;

          }
        }
        a {
          display: block;
          font-size: $ce-font-size;
          line-height: 20px;
          padding: 11px 14px;
          color: #B4B6BD;
          border-left: 4px solid $ce-dark-color;

        }

        ul.node {
          background: $ce-dark-color;
          overflow: hidden;
          //display:none;
          li {

            &:hover {
              background: $hover-color;
              a {
                border-left: 4px solid $hover-color;
              }
            }
          }
          a {
            padding: 11px 14px 11px 30px;
            &.active {
              color: #fff;
              background: $hover-color;
              border-left: 4px solid $hover-color;
            }

          }
          &.ng-hide-add {
            @include ce-animation(0.2s slideUp);

          }
          &.ng-hide-remove {
            @include ce-animation(0.2s slideDown);

          }
          @keyframes slideUp {
            0% {
              @include ce-transform(translate3d(0, 0, 0));
            }
            100% {
              @include ce-transform(translate3d(-239px, 0, 0));

            }
          }

          @-webkit-keyframes slideUp {
            from {
              @include ce-transform(translate3d(0, 0, 0));
            }
            to {
              @include ce-transform(translate3d(-239px, 0, 0));

            }
          }

          @keyframes slideDown {
            0% {
              @include ce-transform(translate3d(-239px, 0, 0));
            }
            100% {
              @include ce-transform(translate3d(0, 0, 0));
            }
          }

          @-webkit-keyframes slideDown {
            from {
              @include ce-animation(translate3d(-239px, 0, 0));
            }
            to {
              @include ce-animation(translate3d(0, 0, 0));
            }
          }

        }
      }
    }
  }
