/* 好像并没什么卵用的注释 */
//主色调
$ce-color:#4ac6fa;
//深色调(基色调)
$ce-dark-color:#3A3F52;
//默认字体大小
$ce-font-size:14px;
//统一border颜色
$ce-border-color:#e9e9e9;


//-------------------------
// [头部]样式配置
//-------------------------
//头部高度
$ce-head-height:49px;
//logo路径
$ce-logo-path:'../img/64_64_dark.png';
//logo size
$ce-logo-size:32px;
//logo字体颜色
$ce-logo-font-color:#EAEBED;

//-------------------------
// [菜单]样式配置
//-------------------------
//菜单宽度
$ce-menu-width:210px;


//[内容-标题]标题
//内容标题背景颜色
$ce-content-head-background:#f6f8f8;
//内容标题字体大小
$ce-content-head-font-size:$ce-font-size + 6;
//副标题颜色
$ce-content-head-subTitle-font-color:#98a6ad;
//副标题字体大小
$ce-content-head-subTitle-font-size :$ce-font-size - 2;

//-------------------------
// [内容]样式配置
//-------------------------
//内容窗体背景色
$ce-content-background-color:#F0F3F4;






//---------------------------------------
// 一些封装兼容性的方法(那jb css样式校验逼的)
//---------------------------------------
@mixin ce-dark-box-shadow(){
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.6);
}

@mixin ce-color-box-shadow(){
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(74,198,250,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(74,198,250,.6);
}

//边框统一阴影
@mixin ce-global-box-shadow(){
  @include ce-box-shadow((0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05)));
}

@mixin ce-animation($value){
  -webkit-animation:$value;
  -moz-animation:$value;
  -ms-animation:$value;
  -o-animation: $value;
  animation:$value;
}

@mixin ce-animation-name($value){
  -moz-animation-name:$value;
  -webkit-animation-name:$value;
  -ms-animation-name:$value;
  -o-animation-name:$value;
  animation-name:$value;
}

@mixin ce-animation-fill-mode($value){
  -webkit-animation-fill-mode:$value;
  -moz-animation-fill-mode:$value;
  -ms-animation-fill-mode:$value;
  -o-animation-fill-mode: $value;
  animation-fill-mode:$value;
}

@mixin ce-animation-delay($value){
  -webkit-animation-delay:$value;
  -moz-animation-delay:$value;
  -ms-animation-delay:$value;
  -o-animation-delay:$value;
  animation-delay:$value;
}

@mixin ce-user-select($value){
  -webkit-user-select:$value;
  -moz-user-select:$value;
  -ms-user-select:$value;
  -o-user-select:$value;
  user-select:$value;
}

@mixin ce-transition($value){
  -webkit-transition:$value;
  -moz-transition:$value;
  -ms-transition:$value;
  -o-transition:$value;
  transition:$value;
}

@mixin ce-transform($value){
  -webkit-transform:$value;
  -moz-transform:$value;
  -ms-transform:$value;
  -o-transform:$value;
  transform:$value;
}

@mixin ce-border-radius($value){
  -webkit-border-radius:$value;
  -moz-border-radius:$value;
  -ms-border-radius:$value;
  -o-border-radius:$value;
  border-radius: $value;
}

@mixin ce-box-shadow($value){
  -webkit-box-shadow:$value;
  -moz-box-shadow:$value;
  -ms-box-shadow:$value;
  -o-box-shadow:$value;
  box-shadow: $value;
}