/*
 *	Explain:		重定义浏览器默认样式
 */
* {
  word-wrap: break-word;
  word-break: break-all;
}
body {
  background-color: #f2f2f2;
}
body,
input,
button,
select,
textarea {
  font-size: 14px;
  font-family: "微软雅黑", "Microsoft Yahei", "宋体", Tahoma, 'Simsun', Arial, Helvetica, sans-serif;
  color: #515151;
  outline: none;
}
textarea {
  resize: none;
}
body,
ul,
ol,
li,
dl,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
.pr,
.pc {
  margin: 0;
  padding: 0;
  outline: none;
}
caption,
th {
  text-align: left;
  font-weight: 400;
}
ul li,
.xl li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}
em,
cite,
i {
  font-style: normal;
}
strong,
b {
  font-weight: normal;
}
a {
  color: #222222;
  text-decoration: none !important;
  outline: none;
}
a:link {
  color: #222222;
  outline: none;
}
a:visited {
  color: #222222;
  outline: none;
}
a:hover {
  color: #ff4a00;
  outline: none;
}
a:active {
  color: #222222;
  outline: none;
}
a img {
  border: none;
}
a,
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
body {
  background: #303641;
}
.login-form {
  width: 320px;
  margin: 100px auto;
}
.login-form-input {
  background: #373e4a;
  border: 1px solid #373e4a;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: table;
  margin-bottom: 20px;
}
.login-form-input:active,
.login-form-input:hover {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.login-form-input.error {
  border-color: #E66454;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(230, 100, 84, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(230, 100, 84, 0.6);
}
.login-form-input .icon {
  position: relative;
  padding: 6px 12px;
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.login-form-input .icon span {
  color: #555555;
}
.login-form-input input {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #fff;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: transparent;
  border: 0;
  display: table-cell;
}
.login-form-input input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #373e4a inset;
  border: 0px !important;
  background-color: ##373e4a !important;
  background-image: none !important;
  -webkit-text-fill-color: #fff;
  border-radius: 0;
}
#login-btn {
  border: 1px solid #454a54;
  text-align: left;
  padding: 15px 20px;
  font-size: 14px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  display: block;
  width: 100%;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  text-align: center;
  border-radius: 3px;
}
#login-btn:hover {
  background: #373e4a;
  border-color: #373e4a;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.login-error {
  border-radius: 3px;
  width: 320px;
  height: 35px;
  line-height: 35px;
  text-indent: 20px;
  background: #E66454;
  color: #fff;
  margin-bottom: 20px;
  display: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(230, 100, 84, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(230, 100, 84, 0.6);
}
