<h3>默认面板</h3>
<ce-panel >
    <ce-panel-content>
        <label class="example-label" ng-bind="'DEMO.WIDGET.EXAMPLE.LABEL' | translate"></label>
        <ce-panel >
            <ce-panel-content>
                我没有标题
            </ce-panel-content>
        </ce-panel>
    </ce-panel-content>
    <ce-panel-footer>
        <ce-code>
<ce-panel>
    <ce-panel-content>
        我没有标题
    </ce-panel-content>
</ce-panel>
        </ce-code>
    </ce-panel-footer>
</ce-panel>

<h3>带有标题的面板</h3>
<ce-panel >
    <ce-panel-content>
        <label class="example-label" ng-bind="'DEMO.WIDGET.EXAMPLE.LABEL' | translate"></label>
        <ce-panel >
            <ce-panel-title>这是标题</ce-panel-title>
            <ce-panel-content>
                这是内容
            </ce-panel-content>
        </ce-panel>
    </ce-panel-content>
    <ce-panel-footer>
        <ce-code>
<ce-panel >
    <ce-panel-title>这是标题</ce-panel-title>
    <ce-panel-content>
        这是内容
    </ce-panel-content>
</ce-panel>
        </ce-code>
    </ce-panel-footer>
</ce-panel>


<h3>带有标题,脚的面板</h3>
<ce-panel >
    <ce-panel-content>
        <label class="example-label" ng-bind="'DEMO.WIDGET.EXAMPLE.LABEL' | translate"></label>
        <ce-panel >
            <ce-panel-title>这是标题</ce-panel-title>
            <ce-panel-content>
                这是内容
            </ce-panel-content>
            <ce-panel-footer>
                这是脚
            </ce-panel-footer>
        </ce-panel>
    </ce-panel-content>
    <ce-panel-footer>
        <ce-code>
<ce-panel >
    <ce-panel-title>这是标题</ce-panel-title>
    <ce-panel-content>
        这是内容
    </ce-panel-content>
    <ce-panel-footer>
        这是脚
    </ce-panel-footer>
</ce-panel>
        </ce-code>
    </ce-panel-footer>
</ce-panel>
