<div class="modal-header">
    <h3 class="modal-title">编辑</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="name">名称</label>
        <input type="text" class="form-control" id="name" placeholder="名称" ng-model="demo.name">
    </div>
    <div class="form-group">
        <label for="remark">备注</label>
        <input type="text" class="form-control" id="remark" placeholder="备注" ng-model="demo.remark">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">保存</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>


