@import "../../core/scss/core.env";



.ce-tag-list{
  $color:#EF4A54;
  margin-right: -15px;
  .tags{
    min-width: 50px;
    text-align: center;
    background: $color;
    padding:5px 10px;
    float: left;
    color:#fff;
    border-radius: 4px;
    margin-right: 15px;
    margin-bottom:10px;
    cursor: pointer;
    position: relative;
    &:hover{
      .del{
        display: block;
      }
    }
    .del{
      position: absolute;
      background: #fff;
      width:20px;
      height:20px;
      right:-10px;
      top:-10px;
      color:$color;
      border-radius: 100%;
      font-size: 14px;
      line-height: 22px;
      box-shadow: 0 0 3px $color;
      display: none;

    }
  }

  .tag-load-more{
    margin-top:50px;
    border-top:1px solid #EAEFF0;
    height:40px;
    line-height: 40px;
    text-align: center;
    color:#888;
    cursor: pointer;
    margin-right:15px;
  }
}