<footer class="ce-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="dark-logo">
                    <img src="/static/image/logo_dark_128X128.png" />
                </div>
            </div>

            <div class="col-xs-12">
                <div class="footer-txt">
                    Powered by Coding Era , <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备15026348号</a>
                </div>
            </div>

        </div>
    </div>
</footer>