<footer class="ce-footer">
    <div class="container">
        <div class="row">

            <div class="col-md-12 hidden-xs">

                <div class="footer-txt">
                    <div style="float:left">
                        <img src="/static/image/logo_dark_64X64.png" />
                        Coding Era - 编码时代工作室
                    </div>
                    <div style="float:right">
                        Copyright © 2015-2016 CodingEra.com | <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备15026348号</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12 visible-xs-block ">
                <div class="footer-txt">
                Coding Era - 编码时代工作室<br><a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备15026348号</a>
                </div>
            </div>

        </div>
    </div>
</footer>