<div class="jumbotron-header jumbotron-{{category}}">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="jumbotron-header-title">
                    <h1>{{title}}</h1>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="jumbotron-header-subtitle">
                    {{subtitle}}
                </div>
            </div>
        </div>
    </div><!-- container -->
    <div class="icon">
        <span class="glyphicon {{icon}}" aria-hidden="true"></span>
    </div>
</div><!-- case-header -->