@import "core.env";



.ce-data-list{
  $detail-height:64px;
  .ce-data-data-empty{
    text-align: center;
    height: 50px;
    line-height: 50px;
  }
  $data-border-color:#DEE5E7;
  $data-list-padding:15px;
  .data-row-container{
    padding-left:15px;
  }
  .ce-data-preview{
    background: #fff;
    margin-bottom:10px;
   // border:1px solid $data-border-color;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    border-radius: 4px;
    position: relative;
    padding: $data-list-padding $data-list-padding;
    margin-left: -15px;
    &:hover{
      //box-shadow: 0 0 2px $ce-color;
      box-shadow: 0 0 2px rgba(74,198,250,.8);
    }
    .ce-data-custom{
      h1,h2,h3,h4,h5,h6{
        margin-top: 0;
      }
    }

    .ce-data-toolbar{
      &.show-btn{
        @include ce-display-box;
      }
      $btn-toolbar-height:38px;
      display: none;
      height: $btn-toolbar-height;
      line-height: $btn-toolbar-height;
      border-top:1px solid #EAEFF0;
      background: #FAFAFA;
      border-radius: 0 0 4px 4px;

      margin:15px ($data-list-padding * -1) ($data-list-padding * -1) ($data-list-padding * -1);
      .toolbar-btn{
        @include ce-flex(1);
        border-right:1px solid #EAEFF0;
        text-align: center;

        width:0;
        $btn-size:$btn-toolbar-height - 16;
        height: $btn-size;
        line-height: $btn-size;
        margin-top:8px;
        display:block;
        &:last-child{
          border-right:0;
        }

        a{
          color:#666;
          &:hover{
            color:$ce-color !important;
          }
          &.del{
            color:#FF0000;
          }
        }


      }
    }
  }

}
