@import "core.env";


$border-color:#DEE5E7;
.ce-panel-left{
  margin-top:-15px;
  //border-right:1px solid $border-color;
  padding-top:20px;
  // padding-right:15px;
  margin-right: -15px;
  height:100%;

  .line{
    height:1px;
    border-top:1px solid $border-color;
    margin-top:30px;
    margin-bottom:30px;
  }

  .ce-panel-left-btn{
    width:100%;
  }


  .ce-panel-left-menu{
    margin-bottom:5px;

    .glyphicon{
      margin-right:5px;
    }
    &.active{
      &:hover{
        background: $ce-color;
        color:#fff;
      }
      background: $ce-color;
      color:#fff;
      border-radius: 3px;
    }
    &:hover{
      background: #fff;
      border-radius: 3px;
      color:#000;
    }
    display: block;
    height:35px;
    line-height: 35px;
    width:100%;
    padding-left:20px;
  }
}
.ce-panel{
 // position: relative;
  height:100%
}
.ce-panel-line{
  border-left:1px solid $border-color;
  width:1px !important;
  padding:0 !important;
 // height: 100%;
  position: absolute;
  left: -webkit-calc(25% + 10px);
  bottom:0;
  top:0;
  z-index: 2;


}
.ce-panel-right{
  padding-left:15px;
  padding-bottom:15px;

}


