@import "core.env";


$border-color:#DEE5E7;
.ce-panel-left{
  margin-top:-15px;
  padding-top:20px;
  margin-right: -15px;
  height:100%;

  .line{
    height:1px;
    border-top:1px solid $border-color;
    margin-top:30px;
    margin-bottom:30px;
  }

  .group-name{
    font-weight: 600;
    margin-top: -15px;
    font-size:120%;
    margin-bottom:15px;
    padding-left:15px;
  }


  .ce-panel-search{
    margin:20px auto;
    width:100%;
  }

  .ce-panel-left-btn{
    width:100%;
  }


  .ce-panel-left-menu{

    .glyphicon{
      margin-right:5px;
    }
    &.active{
      &:hover{
        background: $ce-color;
        color:#fff;
      }
      background: $ce-color;
      color:#fff;
      border-radius: 3px;
    }
    &:hover{
      background: #fff;
      border-radius: 3px;
      color:#000;
    }
    display: block;
    height:35px;
    line-height: 35px;
    width:100%;
    padding-left:15px;
    margin:0 auto 5px auto;
  }
}
.ce-panel{
 // position: relative;
  height:100%
}
.ce-panel-line{

  border-right: 1px solid #DEE5E7;
  padding: 0 !important;
  position: absolute;
  bottom: 0;
  top: 0;
  //为什么是 - 6 (母鸡哇,反正刚好...)
  left: $ce-menu-width - 6;
  z-index: 1;
}

.group-ame{
  padding-left:15px;
  font-size: 130%;
  font-weight: 600;
  margin-top:-15px;
  margin-bottom:15px;
}
.ce-panel-right{
  padding-left:15px;
  padding-bottom:15px;

}

.ce-page-header{
  $page-header-height:60px;
  height:$page-header-height;
  border-bottom:1px solid #DEE5E7;
  margin-top:-15px;
  margin-bottom:15px;
  background: #F6F8F8;
  .ce-page-header-title{
    line-height: $page-header-height;
    font-size: 130%;
    //margin-left:-15px;
    font-weight: 600;
    color:#555;
  }
  .ce-page-header-bar{
    line-height: $page-header-height;
    .input-group{
      line-height: $page-header-height;
      float: right;
      .form-control{
        float: none;
      }
    }
  }
}


