@import "core.env";


/**
 * 	头部样式
 */
.ce-head-container{
  height:$ce-head-height ;
  z-index: 2;
}
.ce-head{
  $height:$ce-head-height;
  height:$height;
  background-color:#fff;
  border-bottom:$ce-border-color;
  position: relative;
  z-index: 1;
  &-content{
    width:100%;
    line-height:$height;
  }
  &-logo{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    background-color: $ce-dark-color;
    padding: 0 5px;
    a{
      line-height:$height;
      color:$ce-logo-font-color;
      display: block;
      position: relative;
      width:$ce-logo-size;
      height:$height;
    }
    $logo-margin:($ce-head-height - $ce-logo-size) * 0.5;
    .logo{

      $size:$ce-logo-size;
      height: $size;
      width: $size;
      display: inline-block;
      position: absolute;
      top:$logo-margin;
      background-image: url($ce-logo-path);
      background-size: $size;
      img{
        width:$size;
        height:$size;
      }
    }
    $text-height:$ce-logo-size * 0.5;
    .brand-name{
      color:$ce-logo-font-color;
      height:$text-height;
      position: absolute;
      left:$ce-logo-size + $logo-margin-left ;
      line-height: $text-height;
      top:$logo-margin;
      font-size:110%;
    }
    .brand-info{
      height:$text-height;
      position: absolute;
      left:$ce-logo-size + $logo-margin-left;
      line-height: $text-height;
      top:$logo-margin + $text-height;
      font-size:90%;
      color:#B4B6BD;;
    }
  }

  &-navi{
    float:left;
    // border-left:1px solid $ce-border-color;
    height:$height;
    width:100%;
    @include ce-global-box-shadow();
    div{
      padding-right: 20px;
      text-align: right;
    }
  }



}
