@import "core.env";



/**
 * 	内容头部标题
 */
.ce-content-head{
  background: $ce-content-head-background;
  border-bottom: 1px solid #dee5e7;
  height:$ce-head-height;
  padding-top: ($ce-head-height - $ce-logo-size) * 0.5;
  padding-left:($ce-head-height - $ce-logo-size) * 0.5 +5;
  $text-height:$ce-logo-size * 0.5;
  margin-bottom:20px;
  .ce-content-title{
    height: $text-height;
    line-height: $text-height;
    h1{
      font-size:$ce-content-head-font-size;
      padding:0;
      margin:0;
    }
  }

  .ce-content-subtitle{
    height: $text-height;
    line-height: $text-height;
    color:$ce-content-head-subTitle-font-color;
    font-size:90%;
  }
}
