@import "core.env";





.ce-markdown-container{
  .markdown-toolbar{
    margin:5px 0;
    .btn-group{
      margin-right: 5px;
    }
  }
  .ce-textarea{
    height:300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding:10px;
  }
  .ce-preview{
    height:300px;
    background: #fff;
    overflow-y: auto;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    ol{
      padding-left: 20px;
    }
  }
}
