@import "core.env";


/**
 * 	头部样式
 */
.ce-side-head{
  width: $ce-menu-width;
  z-index: 2;
  margin-left:-15px;
  .ce-logo{
    width: $ce-menu-width;
    height:$ce-head-height ;
    z-index: 2;
    background: $ce-dark-color;
    padding-top: ($ce-head-height - $ce-logo-size)/2;
    img{
      width:$ce-logo-size;
      height:$ce-logo-size;
      display: block;
      margin:auto;

    }
  }
}

.logo-tip{
  width:120px;
}

/**
 * 	内容头部标题
 */
.ce-content-head{
  position: relative;
  background: $ce-content-head-background;
  border-bottom: 1px solid #dee5e7;
  height:$ce-head-height;
  padding-top: ($ce-head-height - $ce-logo-size) * 0.5;
  padding-left: $ce-menu-width + 15;
  $text-height:$ce-logo-size * 0.5;
  .ce-content-title{
    height: $text-height;
    line-height: $text-height;
    h1{
      font-size:$ce-content-head-font-size;
      padding:0;
      margin:0;
    }
  }

  .ce-content-subtitle{
    height: $text-height;
    line-height: $text-height;
    color:$ce-content-head-subTitle-font-color;
    font-size:90%;
  }

  .ce-userInfo{
    position: absolute;
    height:$ce-head-height;
    right:0;
    top:0;
    .userInfo-container{
      position: relative;
      $avatarSize:$ce-head-height - 20;
      .userInfo-name{
        height:$ce-head-height;
        padding-right:$avatarSize + 20;
        line-height: $ce-head-height;
      }

      .userInfo-avatar{
        position: absolute;
        right:10px;
        top:($ce-head-height - $avatarSize) * 0.5;
        width:$avatarSize;
        height:$avatarSize;
        img{
          width:$avatarSize;
          height:$avatarSize;
          border-radius: 100%;
        }
      }
    }

  }
}


/**
 * 	内容部分开始 lc-content
 */
.ce-content{
  position: relative;

  .content{
    padding-left:$ce-menu-width;
    .ce-windows{
      background:#fff;
      min-height:120px;
      border:1px solid $ce-border-color;
      margin-bottom:20px;
      @include ce-global-box-shadow();
    }
    .ce-windows-title{
      background:#fafafa;
      border-bottom:1px solid $ce-border-color;
      padding:12px 20px;
    }
    .ce-windows-content{
      padding:20px;
    }

    .content-view{
      &.ng-enter{
        @include ce-animation(0.5s bounceInDown);
      }

    }

  }
}

.ce-content-view{
  padding-top:15px;
  //padding-bottom:15px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #F4F5F7;
}
