@import "core.env";


.ce-h5-upload-container{


  .ce-file-btn{
    display: none;
  }

  .crop-area{
    background: #000;
    overflow: hidden;
    width:100%;
    height:350px;
  }

  .ce-h5-upload{
    min-height:150px;
    width:100%;
    text-align: center;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    @include ce-box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
    overflow: hidden;
    display:table;
    .ce-h5-upload-tips{
      display:table-cell;
      vertical-align:middle;cursor: pointer;
    }

    img{
      width:100%;
    }

    .clean-image-btn{
      position: absolute;
      left:10px;
      bottom:10px;
      width:54px;
      height:54px;
      text-align: center;
      line-height: 54px;
      border-radius: 100%;
      background: rgba(0,0,0,.8);
      color:#fff;
      font-size:120%;
      @include ce-box-shadow(0 0 5px 1px rgba(255, 255,255, 0.5));
      &:hover{
        background: rgba(74,198,250,.8);
      }
    }
  }
}


