@import "core.env";



/**
 * 	内容部分开始 lc-content
 */
.ce-content{
  position: relative;

  .content{
    padding-left:$ce-menu-width;
    .ce-windows{
      background:#fff;
      min-height:120px;
      border:1px solid $ce-border-color;
      margin-bottom:20px;
      @include ce-global-box-shadow();
    }
    .ce-windows-title{
      background:#fafafa;
      border-bottom:1px solid $ce-border-color;
      padding:12px 20px;
    }
    .ce-windows-content{
      padding:20px;
    }

    .content-view{
      &.ng-enter{
        @include ce-animation(0.5s bounceInDown);
      }

    }

  }
}

.ce-content-view{
  padding-top:15px;
  //padding-bottom:15px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #F4F5F7;
}
