@import "core.env";

//移动端样式
.m-navbar-padding{
  height: 50px;
}
.m-navbar{
  background: $ce-dark-color;
  .navbar-brand{
    color:#EAEBED;
    padding: 12px 15px;
    img{
      width:32px;
      height:32px;
      display: inline-block;
      margin-top:-4px;
    }
  }

  .dropdown-menu{
    position: relative;
    background-color: transparent;
    width: 100%;
    padding: 0;
    margin: 0;
    border:0;
    border-radius: 0;
  }
  .navbar-nav > li > a{
    color:#EAEBED;
    &:hover{
      color:$ce-color;
    }
  }
}

/**
 * 	菜单样式(默认精简版) 加上 menu-bg 是一般样式版本
 */
.ce-slide-menu{
  width:$ce-menu-width;
  // 一般菜单样式
  &.menu-bg{
    width:$ce-menu-width * 2;
    .ce-menu{
      width: $ce-menu-width * 2;
      a{
        padding:15px 10px;
        text-align: left;
        .glyphicon{
          display: inline-block;
          margin:auto 8px auto auto;
          font-size: $ce-font-size;
        }
      }
    }
  }

  //精简样式
  .ce-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: $ce-menu-width;
    height: 100%;
    background-color: $ce-dark-color;
    $hover-color: #32374B;
    z-index: 1;
    overflow-y: hidden;
    overflow-x: auto;
    @include ce-user-select(none);
    a {
      display: block;
      font-size: $ce-font-size;
      text-align: center;
      color: #B4B6BD;
      padding:14px 0;
      &:hover{
        color: #fff;
      }
      &.active {
        background: $hover-color;
        color: $ce-color;
      }
      .glyphicon{
        $icon-size:18px;
        display: block;
        font-size: $icon-size;
        width:$icon-size;
        height:$icon-size;
        margin:0 auto 8px auto;
      }
    }

  }
}



