@import "core.env";



.ce-data-list{
  $detail-height:64px;
  .ce-data-data-empty{
    text-align: center;
    height: 50px;
    line-height: 50px;
  }
  $data-border-color:#DEE5E7;
  $data-list-padding:15px;
  .data-row-container{
    padding-left:15px;
  }
  .ce-data-preview{
    background: #fff;
    margin-bottom:10px;
    border:1px solid $data-border-color;
    box-shadow: 0 0 0 1px rgba(234, 239, 240, 0.5);
    position: relative;
    padding: $data-list-padding $data-list-padding;
    margin-left: -15px;
    &:hover{
      background: #FAFAFA;
    }
    .ce-data-custom{
      h1,h2,h3,h4,h5,h6{
        margin-top: 0;
      }
    }

    .ce-data-toolbar{

      @include ce-display-box;
      $btn-size:40px;
      height: $btn-size;
      border-top:1px solid #EAEFF0;
      margin:15px ($data-list-padding * -1) ($data-list-padding * -1) ($data-list-padding * -1);
      .toolbar-btn{
        @include ce-flex(1);
        border-right:1px solid #EAEFF0;
        text-align: center;

        width:0;
        height:$btn-size;
        line-height: $btn-size;
        display:block;
        &:last-child{
          border-right:0;
        }

        a{
          &:hover{
            color:$ce-color !important;
          }
          &.del{
            color:#FF0000;
          }
        }


      }
    }
  }

}
