@import "core.env";


/**
 * 	头部样式
 */
.ce-head-container{
  height:$ce-head-height ;
  z-index: 2;
}
.ce-head{
  $height:$ce-head-height;
  height:$height;
  background-color:#fff;
  border-bottom:$ce-border-color;
  position: relative;
  z-index: 1;
  &-content{
    width:100%;
    line-height:$height;
  }
  &-logo{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    background-color: $ce-dark-color;
    padding: 0 5px;
    a{
      line-height:$height;
      color:$ce-logo-font-color;
      display: block;
      position: relative;
      width:100%;
      height:$height;
      padding-left:20px;
      img{
        width:$ce-logo-size;
        height:$ce-logo-size;
        vertical-align: middle;
        margin-top:-8px;
      }
      .brand-name{
        color:$ce-logo-font-color;
        font-size:130%;
        margin-left:5px;
        margin-top:5px;
        font-weight: 600;
      }
    }


  }





}
